.about-title {
  color: #32325d;
  margin: 0 0 10px;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .025em;
  font-weight: 600;
}

.about-subtitle {
  color: #32325d;
  margin: 0 0 10px;
  font-size: 19px;
  letter-spacing: .025em;
  font-weight: 600;
}

.about-text {
  font-weight: 400;
  color: #525f7f;
  font-size: 19px;
  line-height: 32px;
}