<section class="about">
  <div class="container">
    <div class="columns">
      <div class="column is-8 is-offset-2 is-8-mobile is-offset-2-mobile">
        <h3 class="about-title">Quienes Somos</h3>
        <br />
        <p class="about-text">
          Intercambios sin Fronteras es una organización dedicada a satisfacer las necesidades de sus clientes ofreciendo
          servicios de excelente calidad en diversas actividades referentes al intercambio y la gestión del dinero virtual de
          billeteras electrónicas.
        </p>
        <br />
        <p class="about-text">
          Contamos con una amplia experiencia en la gestión del dinero online, brindando las mejores tasas de cambio y las
          herramientas eficaces para el desarrollo de las negociaciones entre nuestros clientes.
        </p>
        <p class="about-text">
        <br />
          Así también, estamos comprometidos con la seguridad entre las transacciones, la gestión eficaz del dinero online y la
          oportuna entrega a conformidad del servicio cambista.
        </p>
        <br />
        <br />
        <h3 class="about-title">Nuestros Servicios</h3>
        <br />
        <p class="about-text">
          <span class="about-subtitle">Compra / Venta de saldos electrónicos:</span> Son todas las ofertas de compra y venta provenientes entre los usuarios. La
          información es canalizada y recibida por las partes interesadas en concretar las negociaciones.
        </p>
        <br />
        <p class="about-text">
          <span class="about-subtitle">Recargas y Retiros de Dinero electrónico:</span> Es la interacción entre los clientes y la organización (viceversa) en donde se
          establecen los parámetros (precio/tiempo) de negociación entre las 2 partes.
        </p>
        <br />
        <p class="about-text">
          <span class="about-subtitle">Apertura de monederos Virtuales:</span> Es el registro en la diferentes billeteras electrónicas promocionadas en el sitio web.
        </p>
        <br />
        <p class="about-text">
          <span class="about-subtitle">Intercambios entre monederos electrónicos:</span> Es la transformación del dinero, cambiando una moneda por otra en donde se utilizan las
          diferentes billeteras electrónicas entre usuarios.
        </p>
        <br />
        <p class="about-text">
          <span class="about-subtitle">Envió de remesas:</span> Son las trasferencias de dinero, en dirección a clientes situados en otros países diferentes de donde proceden los
          recursos económicos del emisor.
        </p>
      </div>
    </div>
  </div>
  <div class="common-StripeGrid">
    <div class="backgroundContainer">
      <div class="background"></div>
      <div class="skew"></div>
    </div>
    <div class="stripeContainer">
      <div class="grid">
        <div class="stripeA"></div>
        <div class="stripeA"></div>
        <div class="stripeA"></div>
        <div class="stripeA"></div>
      </div>
    </div>
  </div>
</section>