<div class="navbar-fixed" #top>
	<nav>
		<div class="nav-wrapper">
			<a href="#!" class="brand-logo">Logo</a>
			<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
			<ul class="right hide-on-med-and-down">
				<li (click)="scrollToElement(top)">
					<a>Inicio</a>
				</li>
				<li>
					<a>Quiero Transferir</a>
				</li>
				<li>
					<a>Quiero Retirar</a>
				</li>
				<li>
					<a routerLink="login">Iniciar Sesión</a>
				</li>
				<li>
					<a routerLink="register">Registrarse</a>
				</li>
			</ul>
		</div>
	</nav>
</div>

<ul class="sidenav" id="mobile-demo">
	<li (click)="scrollToElement(top)">
		<a>Inicio</a>
	</li>
	<li>
		<a>Quiero Transferir</a>
	</li>
	<li>
		<a>Quiero Retirar</a>
	</li>
	<li>
		<a routerLink="login">Iniciar Sesión</a>
	</li>
	<li>
		<a routerLink="register">Registrarse</a>
	</li>
</ul>

<div class="scroll" (click)="scrollToElement(top)">
	<i class="material-icons">keyboard_arrow_up</i>
</div>
