<nav>
	<div class="nav-wrapper">
		<a href="#!" class="brand-logo">Logo</a>
		<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
		<ul class="right hide-on-med-and-down">
			<li>
				<a>Inicio</a>
			</li>
			<li>
				<a>Quiero Transferir</a>
			</li>
			<li>
				<a>Quiero Retirar</a>
			</li>
			<li>
				<a routerLink="login">Iniciar Sesión</a>
			</li>
			<li>
				<a routerLink="register">Registrarse</a>
			</li>
		</ul>
	</div>
</nav>

<ul class="sidenav" id="mobile-demo">
	<li>
		<a>Inicio</a>
	</li>
	<li>
		<a>Quiero Transferir</a>
	</li>
	<li>
		<a>Quiero Retirar</a>
	</li>
	<li>
		<a routerLink="login">Iniciar Sesión</a>
	</li>
	<li>
		<a routerLink="register">Registrarse</a>
	</li>
</ul>
