header {
  background-color: #e4effa;
}
nav {
  background-color: transparent;
  box-shadow: none;
}

nav ul a {
  color: #32325d !important;
}

.sidenav-trigger {
  color: #32325d !important;
}

.sidenav .closebtn {
  /*position: absolute;
  right: 0;
  top: 0;*/
  display: inline-block;
  font-size: 27px !important;
}

.scroll {
	position: fixed;
	border: 2px solid #6772e5;
  bottom: 28px;
	right: 30px;
	color: #6772e5;
	height: 30px;
	width: 30px;
	z-index: 1 !important;
}

@media screen and (max-width: 600px) {
  .scroll {
    display: none;
  }
}

.scroll:hover {
  border: 2px solid #e4effa;
  color: #e4effa;
	background-color: #32325d;
}

.scroll i {
  padding-right: 1px;
}

.material-icons {
	width: 100%;
	height: 100%;
}

.brand {
	line-height: 64px;
  font-size: 20px;
  font-weight: 900;
  color: #32325d !important;
}

.navbar-item {
  font-weight: 500;
  color:;
}
