<header #top>
	<nav class="container">
		<div class="nav-wrapper">
			<a href="#!" class="brand-logo">
        <h1 class="brand">ISFront</h1>
			</a>
			<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
			<ul class="right hide-on-med-and-down">
				<li class="navbar-item">
					<a routerLink="/landing">Inicio</a>
				</li>
				<li class="navbar-item">
					<a>Quiero Transferir</a>
				</li>
				<li class="navbar-item">
					<a>Quiero Retirar</a>
				</li>
				<li class="navbar-item">
					<a routerLink="/console">Iniciar Sesión</a>
				</li>
			</ul>
		</div>
	</nav>
</header>

<ul class="sidenav" id="mobile-demo" #sidenav>
  <li>
    <a class="sidenav-close closebtn">&times;</a>
  </li>
	<li (click)="scrollToElement(top)">
		<a routerLink="/landing">Inicio</a>
	</li>
	<li>
		<a>Quiero Transferir</a>
	</li>
	<li>
		<a>Quiero Retirar</a>
	</li>
	<li>
		<a routerLink="/console">Iniciar Sesión</a>
	</li>
</ul>

<div class="scroll" (click)="scrollToElement(top)">
	<i class="material-icons">keyboard_arrow_up</i>
</div>
