<section id="experience">
	<div class="container">
		<div class="columns">
			<div class="column">
				<fa-icon [icon]="['far', 'thumbs-up']" size="6x"></fa-icon>
        <h3 class="title-experience">2673</h3>
				<hr>
				<p>Transferencias realizadas con éxito.</p>
			</div>
			<div class="column">
				<fa-icon [icon]="['far', 'grin-alt']"size="6x"></fa-icon>
        <h3 class="title-experience">977</h3>
				<hr>
				<p>Clientes felices.</p>
			</div>
			<div class="column">
				<fa-icon [icon]="['fas', 'user-check']"size="6x"></fa-icon>
        <h3 class="title-experience">100%</h3>
				<hr>
				<p>Satisfacción garantizada.</p>
			</div>
			<div class="column">
				<fa-icon [icon]="['far', 'clock']"size="6x"></fa-icon>
        <h3 class="title-experience">14<small>minutos</small></h3>
				<hr>
				<p>Tiempo promedio por transferencia.</p>
			</div>
		</div>
	</div>
</section>
