mat-sidenav {
  position: fixed;
  width: 250px;
}

mat-sidenav-content {
  overflow: hidden;
}

.menu {
  margin: 15px;
  position: fixed;
  z-index: 2;
  padding: 0;
}

.btn-lg {
  font-size: 16px;
  font-weight:bold;
  padding: 7px 20px;
}