<a mat-list-item (click)="sidenav.toggle()"><span class="closebtn">&times;</span></a>
<a mat-list-item (click)="sidenav.toggle()" routerLink="/landing">Inicio</a>
<a mat-list-item (click)="sidenav.toggle()" routerLink="/console/user">Cuenta</a>
<a mat-list-item (click)="sidenav.toggle()" routerLink="/console/transfer">Quiero Transferir</a>
<a mat-list-item (click)="sidenav.toggle()" routerLink="/console/withdraw">Quiero Retirar</a>
<a mat-list-item (click)="sidenav.toggle()" routerLink="/console/historical">Historial</a>
<a mat-list-item (click)="sidenav.toggle()" *ngIf="currentUser" (click)="logout(); sidenav.toggle()">Cerrar Sesión</a>
