#testimony {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  width: 90%;
}

.testimony-title {
  color: var(--text-color);
  margin: 0 0 10px;
  font-size: 22px;
  line-height: 33px;
  text-transform: uppercase;
  letter-spacing: .025em;
  font-weight: 600;
}

.testimony-text {
  font-weight: 400;
  color: #525f7f;
  font-size: 16px;
  line-height: 26px;
}

.testimony-img {
  border-radius: 50%;
  max-width: 100px;
}

.testimony-name {
  font-weight: bold;
}

@media screen and (min-width: 360px) {
  #testimony {
    width: 85%;
  }
  
  .testimony-img {
    margin: 10px 0;
  }
}

@media screen and (min-width: 360px) {
  #testimony {
    width: 77%;
  }
  
  .testimony-img {
    margin: 10px 0;
  }
}

@media screen and (min-width: 430px) {
  #testimony {
    width: 335px;
  }

  .testimony-img {
    margin: 20px 0;
  }
}
