<section id="testimony">
  <mat-carousel
  interval="5000"
  color="primary"
  proportion="80"
  [hideIndicators]="false">
  <mat-carousel-slide [hideOverlay]="true">
    <p class="testimony-text">
      "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam non, ducimus nobis repellat, fugit quisquam!"
    </p>
    <img src="assets/images/person1.jpg" class="testimony-img">
    <h4 class="testimony-name">John Doe</h4>
  </mat-carousel-slide>
  <mat-carousel-slide [hideOverlay]="true">
    <p class="testimony-text">
      "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae aperiam at, suscipit consectetur rem possimus."
    </p>
    <img src="assets/images/person2.jpg" class="testimony-img circle">
    <h4 class="testimony-name">John Doe</h4>
  </mat-carousel-slide>
  <mat-carousel-slide [hideOverlay]="true">
    <p class="testimony-text">
      "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, ad aliquid possimus, reiciendis sunt
      voluptatem."
    </p>
    <img src="assets/images/person3.jpg" class="testimony-img circle">
    <h4 class="testimony-name">John Doe</h4>
  </mat-carousel-slide>
</mat-carousel>
</section>
