<section id="testimony">
  <mat-carousel
  interval="5000"
  color="primary"
  proportion="100"
  [hideIndicators]="false">
  <mat-carousel-slide [hideOverlay]="true">
    <p class="testimony-text">
      "Siempre recomiendo sus servicios de compra y venta, he realizado negocios en múltiples ocasiones y todo ha salido de maravilla 100% recomendados."
    </p>
    <img src="assets/images/person1.jpg" class="testimony-img">
    <h4 class="testimony-name">John Cepeda</h4>
  </mat-carousel-slide>
  <mat-carousel-slide [hideOverlay]="true">
    <p class="testimony-text">
      "Envío mis remesas a mis familiares y siempre utilizo los servicios de la página, los recomiendo, me gusta su puntualidad y eficiencia. Gracias por la buena atención"
    </p>
    <img src="assets/images/person2.jpg" class="testimony-img circle">
    <h4 class="testimony-name">Alirio Peña</h4>
  </mat-carousel-slide>
  <mat-carousel-slide [hideOverlay]="true">
    <p class="testimony-text">
      "Todo de maravilla en intercambios sin fronteras, desde que conocí los servicios que ofrecen a sus clientes siempre los he recomendado a mis amigos. 100% confianza y seguridad."
    </p>
    <img src="assets/images/person3.jpg" class="testimony-img circle">
    <h4 class="testimony-name">Yair Tabares</h4>
  </mat-carousel-slide>
</mat-carousel>
</section>
