<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side">
      <mat-nav-list>
        <a mat-list-item (click)="sidenav.toggle()" routerLink="/landing">Inicio</a>
        <a mat-list-item routerLink="/console/user">Cuenta</a>
        <a mat-list-item routerLink="/console/transfer">Quiero Transferir</a>
        <a mat-list-item routerLink="/console/withdraw">Quiero Retirar</a>
        <a mat-list-item routerLink="/console/historical">Historial</a>
        <a mat-list-item routerLink="/console">Iniciar Sesión</a>
      </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <button mat-button (click)="sidenav.toggle()">&#9776;</button>
    <app-header></app-header>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
