<footer>
	<section id="footer">
		<div class="container">
			<div class="columns is-multiline">
				<div class="column is-half">
					<h5 class="footer-title">Intercambios Sin Fronteras</h5>
					<p class="footer-text">Nuestro Staff está disponible de lunes a sábado desde las 8am a 12pm y desde las 2pm hasta las 6pm, los domingos de 8am a 2pm. ¡Pruébanos!</p>
          <a class="footer-link bold" href="../../../assets/files/termsOfService.pdf">Términos y condiciones</a>
				</div>
				<div class="column is-half">
					<div class="columns">
            <div class="column is-one-third">
              <a href="https://www.facebook.com/ISFront.net/" target="_blank" class="footer-link">
                <img class="footer-icon" src="../../../assets/images/facebook-brand.png" alt="Hazte fan en Facebook">
                <br />
                <span class="footer-network">Visita nuestra página en Facebook</span>
              </a>
            </div>
            <div class="column is-one-third">
              <a href="https://www.instagram.com/cambios_sinfronteras/" target="_blank" class="footer-link">
                <img class="footer-icon" src="../../../assets/images/instagram-brand.png" alt="Síguenos en Instagram">
                <br />
                <span class="footer-network">Visita nuestra página en Instagram</span>
              </a>
            </div>
            <div class="column is-one-third">
              <a href="https://api.whatsapp.com/send?phone=573209158591&text=¡Hola!%20Estoy%20interesado%20en%20usar%20la%20plataforma%20Intercambios%20Sin%20Fronteras" target="_blank" class="footer-link">
                <img class="footer-icon" src="../../../assets/images/whatsapp-brand.png" alt="Escríbenos a Whatsapp">
                <br />
                <span class="footer-network">Escríbenos a nuestro Whatsapp</span>
              </a>
            </div>
          </div>
        </div>
        <div class="column is-full">
            <p class="footer-text">Cualquier duda, inquietud o sugerencia puedes escribirnos a nuestro correo corporativo <a class="footer-link bold" href="mailto:intercambiossinfronteras@gmail.com">intercambiossinfronteras@gmail.com</a>. También puedes comunicarte a <a class="footer-link bold" href="https://api.whatsapp.com/send?phone=573209158591&text=¡Hola!%20Estoy%20interesado%20en%20usar%20la%20plataforma%20Intercambios%20Sin%20Fronteras" target="_blank">+57 320 9158591</a>.</p>
          </div>
			</div>
		</div>
		<div class="container">
			<div class="columns is-centered">
				<div class="column is-narrow footer-copyright">
          © 2019 ISFront.net, All right reserved.
          <br />
          <fa-icon class="icon-black" [icon]="['fas', 'laptop-code']"></fa-icon> with
          <fa-icon class="icon-red" [icon]="['fas', 'heart']"></fa-icon>
          by <a class="footer-link bold" href="https://suga0828.github.io" target="_blank">suga0828</a>.
				</div>
			</div>
		</div>
	</section>
</footer>
