<footer>
	<section id="footer">
		<div class="container">
			<div class="columns">
				<div class="column is-half">
					<h5 class="footer-title">Intercambios Sin Fronteras</h5>
					<p class="footer-text">Nuestro Staff está disponible desde las 10:00 am hasta las 02:30 am para ayudarte 18 horas al día, los 7 días de la semana. ¡Pruébanos!</p>
					<a class="footer-link bold" href="#!">Términos y condiciones</a>
				</div>
				<div class="column is-half">
					<button class="footer-button" routerLink="/console/transfer" mat-stroked-button color="primary">Quiero Transferir</button>
					<button class="footer-button" routerLink="/console/withdraw" mat-stroked-button color="primary">Quiero Retirar</button>
					<button class="footer-button" routerLink="/console/login" mat-stroked-button color="primary">Iniciar Sesión</button>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="columns is-centered">
				<div class="column is-narrow footer-copyright">
					<span>© 2018 ISFront.net, All right reserved. Made with
						<span class=""> &#x2764; </span>
						for <a class="footer-link bold" href="https://suga0828.github.io" target="_blank">suga0828</a>.
				</span>
				</div>
			</div>
		</div>
	</section>
</footer>
