#footer {
  background-color: #f0f4fa;
  color: #8898aa !important;
  position: relative;
  text-align: center;
}

.background-filling {
  position: absolute;
  background-color: #f0f4fa;
  min-width: 100%;
  top: -400px;
  min-height: 400px;
  z-index: -5;
}

.footer-present {
  padding: 30px;
}

.footer-title {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .025em;
  margin: 0 0 5px;
}

.footer-link,
.footer-button {
  color: #6772e5;
  font-weight: bold;
  -webkit-transition: color .1s ease;
          transition: color .1s ease;
}

.footer-button {
  display: block;
  margin: 8px auto;
  width: 150px;
}

.footer-copyright {
  color: #8898aa;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-button {
    display: inline-block;
    margin: 0 8px 8px 0;
  }

  .footer-button:last-of-type {
    margin: 0;
  }
}