<section class="hero is-fullheight-with-navbar jumbo">
	<div class="hero-body">
		<div class="container">
			<div class="columns is-vcentered">
				<div class="column jumbo-presentation">
					<h2 class="jumbo-title">
						Rápido y Seguro
					</h2>
					<p class="jumbo-text">
						Transfiere y retira de tu monedero electrónico con la comisión más barata del mercado.
						Haz cambio de divisas y envío de remesas con la tranquilidad que mereces.
					</p>
				</div>
				<div class="column">
					<mat-card class="jumbo-card">
						<mat-card-header class="columns is-centered">
							<mat-card-title class="column">Simula tu transferencia o retiro</mat-card-title>
						</mat-card-header>
						<mat-card-content class="columns is-multiline is-centered">
							<mat-form-field class="column is-half">
								<mat-label>Envia</mat-label>
								<input matInput placeholder="Ingresa un monto" type="number" min="0" [(ngModel)]="amount">
							</mat-form-field>
							<mat-form-field class="column is-half">
								<mat-select placeholder="Plataforma de origen" [(ngModel)]="originAccount">
									<mat-option *ngFor="let plataform of plataforms" [value]="plataform">
										{{plataform.name}}
									</mat-option>
								</mat-select>
							</mat-form-field>
              <mat-form-field class="column is-half">
                <mat-select placeholder="Plataforma de destino" [(ngModel)]="destinationAccount">
									<mat-option *ngFor="let plataform of plataforms" [value]="plataform">
										{{plataform.name}}
									</mat-option>
                </mat-select>
              </mat-form-field>
							<mat-form-field class="column is-half">
								<mat-label>Recibe</mat-label>
								<input matInput placeholder="Ingresa un monto" type="number" [ngModel]="toReceive.amount" readonly>
							</mat-form-field>
							<div class="column if-full">
								<p class="tax-text" *ngIf="toReceive.tax">Comisión de {{ toReceive.tax }}%.</p>
								<p class="tax-text">Transferencia mínima de USD 10.</p>
							</div>
						</mat-card-content>
						<mat-card-actions class="columns is-centered">
							<button mat-raised-button color="primary" class="btn-lg column is-half" (click)="refresh()">Refrescar</button>
							<button mat-raised-button color="primary" class="btn-lg column is-half" (click)="calculateShipping()">Calcular</button>
						</mat-card-actions>
					</mat-card>
				</div>
			</div>
		</div>
	</div>
	<div class="common-StripeGrid">
		<div class="backgroundContainer">
			<div class="background"></div>
			<div class="skew"></div>
		</div>
		<div class="stripeContainer">
			<div class="grid">
				<div class="stripe"></div>
				<div class="stripe"></div>
				<div class="stripe"></div>
				<div class="stripe"></div>
				<div class="stripe"></div>
				<div class="stripe"></div>
				<div class="stripe"></div>
				<div class="stripe"></div>
				<div class="stripe"></div>
				<div class="stripe"></div>
			</div>
		</div>
	</div>
</section>
