.jumbo {
  background-color: #7795f8;
  position: relative;
  z-index: 0;
}

.jumbo .common-StripeGrid {
  z-index: 2;
}

.jumbo .hero-body {
  z-index: 3;
}

.jumbo-title {
  text-align: center;
	font-size: 50px;
  line-height: 60px;
  letter-spacing: -.01em;
}

.jumbo-text {
  font-size: 24px;
  line-height: 36px;
  font-weight: 300;
  color: #424770;
}

.jumbo-card {
  padding: 50px;
}

.tax {
	padding: 10px;
}

.tax-text {
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  color: #525f7f;;
}

/*background*/
.common-StripeGrid{
  --grid-height: 11%;
  --grid-content: 70%;
  --grid-viewportL: 15%;
  --grid-viewportR: 15%;

  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
}

.common-StripeGrid .backgroundContainer,
.common-StripeGrid .stripeContainer{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

/* For top horizontal background  */
.common-StripeGrid .backgroundContainer .background {
  position: absolute;
  height: 50%;
  width: 100%;
  background-color: #e4effa;
}

/* For bottom skew background  */
.common-StripeGrid .backgroundContainer .skew {
  position: absolute;
  height: calc( 6 * var(--grid-height) );
  width: 100%;
  background-color: #e4effa;
  -webkit-transform:skewY(-12deg);
          transform:skewY(-12deg);
}
.common-StripeGrid .stripeContainer {
  -webkit-transform:skewY(-12deg);
          transform:skewY(-12deg);
}
/*Stripes*/
.common-StripeGrid .stripeContainer{
  overflow: hidden
}
.StripeBackground {
  position: absolute;
  left: 0;
  top: 50%;
  right: 0;
  -webkit-transform: skewY(-12deg);
  transform: skewY(-12deg);
  pointer-events: none;
}

.StripeBackground .stripe{
  position: absolute;
  top: auto;
  left: 0;
  right:0;
}

.common-StripeGrid .grid {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows:
    [start-line]   var(--grid-height)
    [first-line]   var(--grid-height)
    [second-line]  var(--grid-height)
    [third-line]   var(--grid-height)
    [quarter-line] var(--grid-height)
    [fifth-line]   var(--grid-height)
    [sixth-line]   var(--grid-height)
    [seventh-line] var(--grid-height)
    [eighth-line]  var(--grid-height)  [last-line];
  grid-template-columns:
    [viewport-start]            calc( var(--grid-viewportL) / 2 )
    [viewportS-contentS-middle] calc( var(--grid-viewportL) / 2 )
    [content-star]              calc( var(--grid-content) / 4 )
    [contentS-contentM-middle]  calc( var(--grid-content) / 4 )
    [content-middle]            calc( var(--grid-content) / 4 )
    [contentM-contentE-middle]  calc( var(--grid-content) / 4 )
    [content-end]               calc( var(--grid-viewportR) / 2 )
    [contentE-viewportE-middle] calc( var(--grid-viewportR) / 2 ) [viewport-end];
}

.jumbo .common-StripeGrid .stripe:nth-child(1){
  background-color: #e4effa;
  -webkit-box-shadow:inset 0 0 0 2px #e4effa;
          box-shadow:inset 0 0 0 2px #e4effa;
  grid-column: viewport-start / content-star;
  grid-row: second-line / third-line;
}
.jumbo .common-StripeGrid .stripe:nth-child(2){
  background-color: #32325d;
  grid-column: viewport-start / content-star;
  grid-row: quarter-line / fifth-line;
}
.jumbo .common-StripeGrid .stripe:nth-child(3){
  background-color: #FFF;
  grid-column: content-star / contentS-contentM-middle;
  grid-row: quarter-line / fifth-line;
}
.jumbo .common-StripeGrid .stripe:nth-child(4){
  background-color: #32325d;
  grid-column: content-end / viewport-end;
  grid-row: quarter-line / fifth-line;
}
.jumbo .common-StripeGrid .stripe:nth-child(5){
  background-color: #fcd669;
  grid-column: viewport-start / viewportS-contentS-middle;
  grid-row: fifth-line / sixth-line;
}
.jumbo .common-StripeGrid .stripe:nth-child(6){
  background-color: #87bbfd;
  grid-column: contentM-contentE-middle / contentE-viewportE-middle;
  grid-row: fifth-line / sixth-line;
}
.jumbo .common-StripeGrid .stripe:nth-child(7){
  background-color: #6772e5;
  grid-column: contentE-viewportE-middle / viewport-end;
  grid-row: fifth-line / sixth-line;
}
.jumbo .common-StripeGrid .stripe:nth-child(8){
  background-color: #fcd669;
  grid-column: content-end / viewport-end;
  grid-row: sixth-line / seventh-line;
}
.jumbo .common-StripeGrid .stripe:nth-child(9){
  -webkit-box-shadow:inset 0 0 0 2px #e4effa;;
          box-shadow:inset 0 0 0 2px #e4effa;
  grid-column: contentM-contentE-middle / content-end;
  grid-row: seventh-line / eighth-line;
}
.jumbo .common-StripeGrid .stripe:nth-child(10){
  grid-column: viewport-start / viewport-end;
  grid-row: eighth-line / last-line;
}

@media (max-width:600px) {
  .common-StripeGrid {
    --grid-height: 11%;
    --grid-content: 90%;
    --grid-viewportL: 5%;
    --grid-viewportR: 5%;
  }
  .jumbo .common-StripeGrid .stripe:nth-child(5){
    grid-column: viewport-start / contentS-contentM-middle;
  }
  .jumbo .common-StripeGrid .stripe:nth-child(6){
    grid-column: contentM-contentE-middle / content-end;
  }
  .jumbo .common-StripeGrid .stripe:nth-child(7){
    grid-column: content-end / viewport-end;
  }
  .jumbo .common-StripeGrid .stripe:nth-child(8){
    grid-column: contentM-contentE-middle / viewport-end;
  }
}
@media (min-width:600px) and (max-width:992px) {
  .common-StripeGrid {
    --grid-height: 11%;
    --grid-content: 85%;
    --grid-viewportL: 7.5%;
    --grid-viewportR: 7.5%;
  }
  .jumbo .common-StripeGrid .stripe:nth-child(5){
    grid-column: viewport-start / content-start;
  }
  .jumbo .common-StripeGrid .stripe:nth-child(6){
    grid-column: contentM-contentE-middle / content-end;
  }
  .jumbo .common-StripeGrid .stripe:nth-child(7){
    grid-column: content-end / viewport-end;
  }
  .jumbo .common-StripeGrid .stripe:nth-child(8){
    grid-column: contentM-contentE-middle / viewport-end;
  }
}
@media (min-width:992px) {
  .common-StripeGrid {
    --grid-height: 11%;
    --grid-content: 70%;
    --grid-viewportL: 15%;
    --grid-viewportR: 15%;
  }
}
