<section class="hero is-fullheight-with-navbar jumbo">
	<div class="hero-body">
		<div class="container">
			<div class="columns is-vcentered">
				<div class="column jumbo-presentation">
					<h2 class="jumbo-title">
						Rápido y Seguro
					</h2>
					<p class="jumbo-text">
						Transfiere y retira de tu monedero electrónico con la comisión más barata del mercado.
						Haz cambio de divisas y envío de remesas con la tranquilidad que mereces.
					</p>
				</div>
				<div class="column">
					<mat-card class="jumbo-card">
						<mat-card-header>
							<mat-card-title>Simula tu transferencia o retiro</mat-card-title>
						</mat-card-header>
						<mat-card-content class="columns is-multiline">
							<mat-form-field class="column is-half">
								<mat-label>Envia</mat-label>
								<input matInput placeholder="Ingresa un monto" type="number">
								<span matPrefix>$&nbsp;</span>
							</mat-form-field>
							<mat-form-field class="column is-half">
								<mat-select placeholder="Monedero">
									<mat-option *ngFor="let sender of senders" [value]="sender">
										{{sender}}
									</mat-option>
								</mat-select>
							</mat-form-field>
							<mat-form-field class="column is-half">
								<mat-label>Recibe</mat-label>
								<input matInput placeholder="Ingresa un monto" type="number">
								<span matPrefix>$&nbsp;</span>
							</mat-form-field>
							<mat-form-field class="column is-half">
								<mat-select placeholder="Monedero">
									<mat-option *ngFor="let receiver of receivers" [value]="receiver">
										{{receiver}}
									</mat-option>
								</mat-select>
							</mat-form-field>
							<div class="column">
								<span *ngIf="comission">Comisión de {{ tax }}%: USD {{ comissionN }}.</span>
								<p class="tax-text">Transferencia mínima de USD 10.</p>
							</div>
						</mat-card-content>
						<mat-card-actions class="columns is-centered">
							<button mat-raised-button color="primary" class="column is-narrow blue">Quiero Transferir</button>
							<button mat-raised-button color="accent" class="column is-narrow blue">Quiero Retirar</button>
						</mat-card-actions>
					</mat-card>
				</div>
			</div>
		</div>
	</div>
	<div class="common-StripeGrid">
		<div class="backgroundContainer">
			<div class="background"></div>
			<div class="skew"></div>
		</div>
		<div class="stripeContainer">
			<div class="grid">
				<div class="stripe"></div>
				<div class="stripe"></div>
				<div class="stripe"></div>
				<div class="stripe"></div>
				<div class="stripe"></div>
				<div class="stripe"></div>
				<div class="stripe"></div>
				<div class="stripe"></div>
				<div class="stripe"></div>
				<div class="stripe"></div>
			</div>
		</div>
	</div>
</section>
<app-experience></app-experience>
<app-transfer></app-transfer>
<app-withdraw></app-withdraw>
<app-testimony></app-testimony>
