#jumbo {
	height: calc(100vmin - 64px);
	width: 100%;
	background: url(../../../assets/images/bg11.jpg) center top no-repeat;
	background-size: cover;
}

.jumbo-title {
	font-size: 1.5em;
}

.title {

}

.jumbo-calculator {

}

select {
	display: inherit !important;
}

.button-container {
	width: 100%;
}

.btn {
	margin-bottom: 15px;
	width: 100%;
}
