<section id="transfer" class="valign-wrapper">
	<div class="container">
		<div class="row">
			<div class="col m7 offset-m5 center-align">
				<h3 class="transfer-title">Realiza tu transferencia:</h3>
				<br />
				<p>¡Transfiere dinero a tu sala favorita de forma rápida y segura depositando en nuestra cuenta corriente de Chile con la mejor comisión del mercado!</p>
				<p class="lime-text text-darken-4">Por políticas de seguridad NO se aceptan Depósitos en Efectivo o por Caja, estos depósitos serán devueltos en un plazo de 7 días según informe de seguridad, no se asegura una devolución del dinero.</p>
				<a class="waves-effect waves-light btn-large red darken-1">Quiero Transferir</a>
			</div>
		</div>
	</div>
</section>
