#transfer {
  position: relative;
}

.transfer-title {
  color: #32325d;
  margin: 0 0 10px;
  font-size: 22px;
  line-height: 33px;
  text-transform: uppercase;
  letter-spacing: .025em;
  font-weight: 600;
}

.transfer-text {
  font-weight: 400;
  color: #525f7f;
  font-size: 19px;
  line-height: 32px;
}

.btn-lg {
  font-size: 16px;
  font-weight:bold;
  padding: 7px 20px;
}

/*background*/
.common-StripeGrid{
  --stripe-height:48px;
  --content-columns:17;
  position:absolute;
  width:100%;
  top:0;
  bottom:0;
  z-index:-1;
  pointer-events:none;
}
.common-StripeGrid .backgroundContainer,
.common-StripeGrid .stripeContainer{
  display:-webkit-box;
  display:-ms-flexbox;
  display:  flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center;
  position:absolute;
  width:100%;
  height:100%;
  -webkit-transform:skewY(-12deg);
  transform:skewY(-12deg);
}
.common-StripeGrid .backgroundContainer .grid{
  grid-template-columns:1fr;
  min-width:0
}
.common-StripeGrid .backgroundContainer .background{
  grid-row:1/-1;
  grid-column:1/-1;
  z-index:-1
}
/*Stripes*/
.common-StripeGrid .stripeContainer{
  overflow:hidden
}
.StripeBackground {
  position:absolute;
  left:0;
  top:50%;
 right:0;
     -webkit-transform:skewY(-12deg);
      transform:skewY(-12deg);
      pointer-events:none
     }
.StripeBackground .stripe{
      position:absolute;
      top:auto;
      left:0;
      right:0
    }

@media (min-width:670px){
      .common-StripeGrid{--stripe-height:64px}
    }

.common-StripeGrid .grid{
  --content-column-width:minmax(0,calc(100vw / var(--content-columns)));
  --gutter-column-width:1fr;
  position:absolute;
  width:100%;
  height:100%;
  display:grid;
  grid-template-rows:repeat(auto-fill,var(--stripe-height));
  grid-template-columns:
   [viewport-start] 1fr
   [left-gutter-start] repeat(var(--gutter-columns),var(--gutter-column-width))
   [left-gutter-end content-start] repeat(var(--content-columns),var(--content-column-width))
   [content-end right-gutter-start] repeat(var(--gutter-columns),var(--gutter-column-width))
   [right-gutter-end] 1fr [viewport-end]
}

.transfer .common-StripeGrid .stripeT:first-child{
  -webkit-box-shadow:inset 0 0 0 2px #e6ebf1;
  box-shadow:inset 0 0 0 2px #e6ebf1;
  background-color:#FFFFFF;
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
}
.transfer .common-StripeGrid .stripeT:nth-child(2){
  background-color:#e6ebf1;
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}
.transfer .common-StripeGrid .stripeT:nth-child(3){
  background-color:#87bbfd;
  grid-column: 1 / span 2;
  grid-row: 3 / span 1;
}
.transfer .common-StripeGrid .stripeT:nth-child(4){
  background-color:#e6ebf1;
  grid-column: 3 / span 2;
  grid-row: 3 / span 1;
}
.transfer .common-StripeGrid .stripeT:nth-child(5){
  background-color: #e4effa;
  grid-column: 5 / span 12;
  grid-row: 3 / span 1;
}
.transfer .common-StripeGrid .stripeT:nth-child(6){
  background-color: #e4effa;
  grid-column: 1 / span 16;
  grid-row: 4 / span 10;
}
