<section class="transfer">
	<div class="container">
		<div class="row">
			<div class="transfer-present col s11 offset-s1 m7 offset-m5">
				<h3 class="transfer-title">Realiza tu transferencia:</h3>
				<p class="transfer-text">
          Transfiere dinero a tu monedero electrónico de forma rápida y segura depositando en nuestra cuentas de banco dispuestas a nivel nacional para recaudos del dinero.
          <br />
          Se aceptan depósitos en efectivo desde Correpsonal bancario - Transferencia virtual- aplicación móvil u otros medios que no generen Comisiónes de envío. El emisor del depósito asume el precio de la Comisión por envío del dinero.
        </p>
				<a class="waves-effect waves-light btn-large azulito">Quiero Transferir</a>
			</div>
		</div>
  </div>
  <div class="common-StripeGrid">
      <div class="backgroundContainer">
        <div class="grid">
          <div class="background"></div>
        </div>
      </div>
      <div class="stripeContainer">
        <div class="grid">
          <div class="stripeT"></div>
          <div class="stripeT"></div>
          <div class="stripeT"></div>
          <div class="stripeT"></div>
          <div class="stripeT"></div>
          <div class="stripeT"></div>
        </div>
      </div>
  </div>
</section>
