<section id="transfer">
	<div class="container">
		<div class="columns">
			<div class="column is-7-desktop is-offset-5-desktop">
				<h3 class="transfer-title">Realiza tu transferencia:</h3>
				<p class="transfer-text">
          Transfiere dinero a tu monedero electrónico de forma rápida y segura depositando en nuestra cuentas de banco dispuestas a nivel nacional para recaudos del dinero.
          <br />
          Se aceptan depósitos en efectivo desde Correpsonal bancario - Transferencia virtual- aplicación móvil u otros medios que no generen Comisiónes de envío. El emisor del depósito asume el precio de la Comisión por envío del dinero.
        </p>
        <button mat-raised-button color="primary" class="btn-lg is-narrow">Quiero Transferir</button>
			</div>
		</div>
  </div>
  <div class="common-StripeGrid">
      <div class="backgroundContainer">
        <div class="grid">
          <div class="background"></div>
        </div>
      </div>
      <div class="stripeContainer">
        <div class="grid">
          <div class="stripeT"></div>
          <div class="stripeT"></div>
          <div class="stripeT"></div>
          <div class="stripeT"></div>
          <div class="stripeT"></div>
          <div class="stripeT"></div>
        </div>
      </div>
  </div>
</section>
