:root{
  --text-color: #32325d;
}

html,
body,
div {
	border: 0;
	margin: 0;
	padding: 0;
}
html,
body {
	height: auto;
	width: 100%;
}
body {
  color: var(--text-color);
  background-color: #FFFFFF;
  font-size: 100%;
  font-weight: 400;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}
section {
	width: 100%;
  height: auto;
  padding: 35px 0;
}

.row {
	margin-bottom: 0;
}

.azulito {
  color: #fff;
  background: #6772e5;
}

.azulito:hover {
  background-color: #7795f8;
}

@media screen and (max-width: 992px) {
  section {
    height: auto !important;
    padding: 25px 0;
  }
  .carousel {
    min-height: 80vmin !important;
  }
}

@media screen and (max-width: 600px) {
  .carousel {
    min-height: 90vmin !important;
  }
}
