<div id="modal">
  <div *ngIf="action === 'cancel'">
    <h2 mat-dialog-title>Cancelar operación</h2>
    <mat-dialog-content>
      <p>¿Seguro que desea cancelar la operación de <b>{{operation.type}}</b>, por el monto de <b>{{operation.amount}}</b>,
      de la cuenta <b>{{operation.originAccount.id}}</b>
      <ng-container *ngIf="operation.destinationAccount">
        a la cuenta <b>{{operation.destinationAccount.id}}</b></ng-container>?</p>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-raised-button mat-dialog-close>Volver</button>
      <button mat-raised-button color="primary" (click)="cancelOperation()">Cancelar operación</button>
    </mat-dialog-actions>
  </div>
  
  <div *ngIf="action === 'verify'">
    <h2 mat-dialog-title>Confirmar usuario</h2>
    <mat-dialog-content>
      <p>¿Seguro que desea confirmar el usuario <ng-container *ngIf="user">{{user.displayName}}</ng-container>?</p>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-raised-button mat-dialog-close>Cancelar</button>
      <button mat-raised-button color="primary" (click)="verifyUser()">Confirmar</button>
    </mat-dialog-actions>
  </div>
  
  <div *ngIf="action === 'addPlataform' || action === 'editPlataform'">
    <h2 mat-dialog-title *ngIf="action === 'addPlataform'">Agregar plataforma</h2>
    <h2 mat-dialog-title *ngIf="action === 'editPlataform'">Editar plataforma</h2>
    <mat-dialog-content>
      <form [formGroup]="plataformForm">
        <mat-form-field>
          <mat-select placeholder="Seleccione un tipo de plataforma" formControlName="type">
            <mat-option *ngFor="let typeElem of typeAccounts | keyvalue" [value]="typeElem.value">
              {{typeElem.value}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="type.hasError('required')">
            El campo es requerido.
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" name="name" placeholder="Nombre de la plataforma" formControlName="name" required>
          <mat-error *ngIf="name.hasError('required')">
            El campo es requerido.
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" placeholder="Comisión de la plataforma (%)" formControlName="tax" maxlength="2" required>
          <mat-error *ngIf="tax.hasError('required')">
            El campo es requerido.
          </mat-error>
          <mat-error *ngIf="tax.hasError('pattern')">
            Ingrese una comisión entre 1 y 100.
          </mat-error>
        </mat-form-field>
      </form>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-raised-button mat-dialog-close>Cancelar</button>
      <button mat-raised-button color="primary" (click)="addPlataform()" *ngIf="action === 'addPlataform'">Agregar</button>
      <button mat-raised-button color="primary" (click)="editPlataform()" *ngIf="action === 'editPlataform'">Editar</button>
    </mat-dialog-actions>
  </div>
  
  <div *ngIf="action === 'deletePlataform'">
    <h2 mat-dialog-title>Eliminar plataforma</h2>
    <mat-dialog-content>
      <p>¿Seguro quiere eliminar la plataforma {{plataform.name}}?</p>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-raised-button mat-dialog-close>Cancelar</button>
      <button mat-raised-button color="primary" (click)="deletePlataform()">Eliminar</button>
    </mat-dialog-actions>
  </div>
  
  <div *ngIf="action === 'editBalance'">
    <h2 mat-dialog-title>Asignar Saldo</h2>
    <mat-dialog-content>
      <p *ngIf="user">Saldo actual del cliente <b>{{user.displayName}}</b>: {{user.balance}} USD.</p>
      <mat-form-field *ngIf="user">
        <input matInput type="number" placeholder="Saldo a asignar (USD)" [(ngModel)]="newBalance" maxlength="2">
      </mat-form-field>
      <p *ngIf="newBalance && user" class="warning">¿Seguro quiere asignar {{newBalance}} USD como saldo al cliente {{user.displayName}}?</p>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-raised-button mat-dialog-close>Cancelar</button>
      <button mat-raised-button color="primary" (click)="assignBalanceUser()">Asignar</button>
    </mat-dialog-actions>
  </div>

  <div *ngIf="action === 'seeDetail'">
    <h2 mat-dialog-title>Detalle de la operación</h2>
    <mat-dialog-content *ngIf="operation">
      <p><b>Estado: </b>{{operation.status}}</p>
      <p><b>Tipo: </b>{{operation.type}}</p>
      <p><b>Fecha: </b>{{operation.date | date:'dd-MM-yyyy, hh:mm aa'}}</p>
      <p><b>Cuenta de Origen: </b>{{operation.originAccount.id}}</p>
      <p><b>Monto: </b>{{operation.amount}}</p>
      <p *ngIf="operation.destinationAccount"><b>Cuenta Destino: </b>{{operation.destinationAccount.id}}</p>
      <p><b>Cantidad a recibir: </b>{{operation.toReceive}}</p>
      <p *ngIf="operation.comment"><b>Comentario adicional: </b>{{operation.comment}}</p>

      <div class="space-container">
        <p *ngIf="operation.adminComment"><b>Comentario de administración: </b>
          {{operation.adminComment}}
        </p>
      </div>

      <div *ngIf="operation.status === 'En proceso' && !operation.voucherImage" class="space-container">
        <label for="voucherImage">
          <a mat-raised-button class="inputFileButton" (click)="image.click()">
            Adjuntar comprobante de operación
            <mat-icon aria-label="Adjuntar comprobante de operación">attach_file</mat-icon>
          </a>
        </label>
        <input type="file" #image (change)="changeImage($event)" accept="image/*" style="display:none;" />
        <p *ngIf="voucherImageName">{{voucherImageName}}</p>
        <p *ngIf="voucherImageName" class="error">Asegúrese de que el comprobante que va a guardar sea el correcto, esta operación es irreversible.</p>
      </div>

      <div class="space-container">
        <p *ngIf="operation.voucherImage"><b>Comprobante de operación: </b>
          <a href="{{operation.voucherImage}}" target="_blank">
            <img [src]="operation.voucherImage" class="img-responsive">
          </a>
        </p>
      </div>

      <div class="space-container">
        <p *ngIf="operation.voucherAdminImage"><b>Comprobante de operación (administración): </b>
          <a href="{{operation.voucherAdminImage}}" target="_blank">
            <img [src]="operation.voucherAdminImage" class="img-responsive">
          </a>
        </p>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-raised-button mat-dialog-close [disabled]="disabled">Volver</button>
      <button mat-raised-button *ngIf="operation.status !== 'Rechazada' && operation.status === 'En proceso' && !operation.voucherImage" color="primary" (click)="saveVoucher()" [disabled]="disabled || !voucherImage">Guardar Comprobante</button>
    </mat-dialog-actions>
  </div>

  <div *ngIf="action === 'detailedOperation'">
    <h2 mat-dialog-title>Detalle de la operación</h2>
    <mat-dialog-content *ngIf="operation">
      <p><b>Estado: </b>{{operation.status}}</p>
      <p><b>Tipo: </b>{{operation.type}}</p>
      <p><b>Fecha: </b>{{operation.date | date:'dd-MM-yyyy, hh:mm aa'}}</p>
      <p><b>Monto: </b>{{operation.amount}}</p>
      <p><b>Cuenta de Origen: </b>{{operation.originAccount.id}}</p>
      <p *ngIf="operation.destinationAccount"><b>Cuenta Destino: </b>{{operation.destinationAccount.id}}</p>
      <p *ngIf="operation.comment"><b>Comentario adicional: </b>{{operation.comment}}</p>

      <div class="space-container">
        <p *ngIf="operation.adminComment"><b>Comentario de administración: </b>
          {{operation.adminComment}}
        </p>
      </div>
      
      <div class="space-container">
        <p *ngIf="operation.voucherImage"><b>Comprobante de operación: </b>
          <a href="{{operation.voucherImage}}" target="_blank" *ngIf="operation.voucherImage">
            <img [src]="operation.voucherImage" class="img-responsive">
          </a>
        </p>
      </div>

      <div *ngIf="operation.status === 'En revisión'  && operation.voucherImage && !operation.voucherAdminImage" class="space-container">
        <label for="voucherAdminImage">
          <a mat-raised-button class="inputFileButton" (click)="imageAdmin.click()">
            Adjuntar comprobante de operación (administración)
            <mat-icon aria-label="Adjuntar comprobante de operación">attach_file</mat-icon>
          </a>
        </label>
        <input type="file" #imageAdmin (change)="changeImage($event)" accept="image/*" style="display:none;" />
        <p *ngIf="voucherAdminImageName">{{voucherAdminImageName}}</p>
        <p *ngIf="voucherAdminImageName" class="error">Asegúrese de que el comprobante que va a guardar sea el correcto, esta
          operación es irreversible.</p>
      </div>
      
      <div class="space-container">
        <p *ngIf="operation.voucherAdminImage"><b>Comprobante de operación (administración): </b>
          <a href="{{operation.voucherAdminImage}}" target="_blank">
            <img [src]="operation.voucherAdminImage" class="img-responsive">
          </a>
        </p>
      </div>

    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-raised-button mat-dialog-close [disabled]="disabled">Volver</button>
      <button mat-raised-button *ngIf="operation.status === 'En revisión' && operation.voucherImage && !operation.voucherAdminImage" color="primary" (click)="saveVoucherAdmin()"
        [disabled]="disabled || !voucherAdminImage">Guardar Comprobante</button>
    </mat-dialog-actions>
  </div>

  <div *ngIf="action === 'acceptOperation' || action === 'rejectOperation'">
    <h2 mat-dialog-title *ngIf="action === 'acceptOperation'">Aprobar operación</h2>
    <h2 mat-dialog-title *ngIf="action === 'rejectOperation'">Declinar operación</h2>
    <mat-dialog-content *ngIf="operation">
      <p>¿Seguro que desea <ng-container *ngIf="action === 'acceptOperation'; else rejectOperation">aprobar</ng-container>
      <ng-template #rejectOperation>rechazar</ng-template> la operación de <b>{{operation.type}}</b>, por el monto de <b>{{operation.amount}}</b>,
        de la cuenta <b>{{operation.originAccount.id}}</b> <ng-container *ngIf="operation.destinationAccount">
        a la cuenta <b>{{operation.destinationAccount.id}}</b></ng-container>?
      </p>
      <div class="space-container">
        <mat-form-field>
          <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMaxRows="5"
            placeholder="Comentario para explicar la acción" [(ngModel)]="operation.adminComment" maxlength="300"></textarea>
          <mat-hint align="end" *ngIf="comment">{{operation.adminComment.length}} / 300</mat-hint>
        </mat-form-field>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-raised-button mat-dialog-close>Cancelar</button>
      <button mat-raised-button color="primary" (click)="acceptOperation()" *ngIf="action === 'acceptOperation'">Aprobar</button>
      <button mat-raised-button color="primary" (click)="rejectOperation()" *ngIf="action === 'rejectOperation'">Rechazar</button>
    </mat-dialog-actions>
  </div>

  <div *ngIf="action === 'closeOperation'">
    <h2 mat-dialog-title>Cerrar operación</h2>
    <mat-dialog-content>
      <p>¿Seguro que desea concluir la operación de <b>{{operation.type}}</b>, por el monto de <b>{{operation.amount}}</b>,
      de la cuenta <b>{{operation.originAccount.id}}</b>
      <ng-container *ngIf="operation.destinationAccount">
        a la cuenta <b>{{operation.destinationAccount.id}}</b></ng-container>?</p>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-raised-button mat-dialog-close>Cancelar</button>
      <button mat-raised-button color="primary" (click)="closeOperation()">Cerrar</button>
    </mat-dialog-actions>
  </div>

  <div *ngIf="action === 'exchangeRate'">
    <h2 mat-dialog-title>Tipo de cambio</h2>
    <mat-dialog-content>
      <p *ngIf="exchangeRate">Tipo de cambio actual: {{exchangeRate}} COP/USD.</p>
      <mat-form-field *ngIf="exchangeRate">
        <input matInput type="number" placeholder="Cambiar tipo de cambio (COP/USD)" [(ngModel)]="newExchangeRate" required>
      </mat-form-field>
      <p *ngIf="newExchangeRate" class="warning">¿Seguro quiere asignar {{newExchangeRate}} COP/USD como tipo de cambio?</p>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-raised-button mat-dialog-close>Cerrar</button>
      <button mat-raised-button color="primary" (click)="updateExchangeRate()">Actualizar Cambio</button>
    </mat-dialog-actions>
  </div>
</div>
