<div *ngIf="operation === 'cancel'">
  <h2 mat-dialog-title>Cancelar operación</h2>
  <mat-dialog-content>
    <p>¿Seguro que desea cancelar la operación?</p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>No</button>
    <button mat-button (click)="cancelOperation()">Sí</button>
  </mat-dialog-actions>
</div>

<div *ngIf="operation === 'verify'">
    <h2 mat-dialog-title>Confirmar usuario</h2>
    <mat-dialog-content>
      <p>¿Seguro que desea confirmar el usuario <ng-container *ngIf="user">{{user.displayName}}</ng-container>?</p>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button mat-dialog-close>No</button>
      <button mat-button (click)="verifyUser()">Sí</button>
    </mat-dialog-actions>
  </div>
  