.container {
  padding: 0 36px;
}

.mat-list-base {
  padding-top: 0px;
}

.content {
  padding-top: 0;
}

mat-card {
  padding: 0px;
}

mat-card-title {
  margin: 0px;
}

mat-card-content {
  padding: 0px 10px 10px 10px;
  margin: 0px;
}

mat-form-field {
  margin-left: 10px;
  width: 100%;
}

button {
  text-transform: uppercase;
  width: 100%;
}

.header {
  text-align: center;
  position: relative;
  width: 100%;
  padding: 16px;
  background-color: #e4effa !important;
}

.title {
  align-self: center;
  display: inline;
}

.mat-list-item {
  height: auto;
  padding: 10px 0px;
}

.edit {
  cursor: pointer;
  font-size: 16px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translate(-50%, -50%);
}

.img-responsive
{
  width: auto;
  height: 100px;
  display: block;
}
