mat-card {
  padding: 0px;
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
}

mat-card-title {
  margin: 0px;
  display: flex;
  justify-content: center;
}

mat-card-content {
  padding: 0px 10px 10px 10px;
  margin: 0px;
}

mat-form-field {
  width: 100%;
}

.header {
  text-align: center;
  position: relative;
  width: 100%;
  padding: 16px;
  background-color: #e4effa !important;
}

.mat-card .mat-divider-horizontal {
  position: inherit;
}

.title {
  margin-bottom: 0;
}

.edit {
  align-self: center;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
}

mat-radio-button {
  display: block;
  text-align: center;
}

mat-radio-button:first-of-type {
  padding: 0 0 12px;
}

.img-responsive
{
  width: 100%;
  height: auto;
  display: block;
}

.inputFileButton {
  margin-bottom: 12px;
  white-space: pre-wrap;
}

@media screen and (min-width: 480px){
  mat-card{
    width: 90%;
  }

  mat-radio-button:first-of-type {
    padding: 0 12px 0 0;
  }
}

@media screen and (min-width: 769px){
  mat-card{
    width: 70%;
  }

  .title {
    display: inline;
  }

  mat-radio-button {
    display: inline-block;
    text-align: initial;
  }
}
