<section id="profile">
  <mat-card>
    <mat-card-title class="header">
      <h2 class="title">Información Personal</h2>
      <a class="edit" (click)="changeToEdit()" *ngIf="!edit">
        <fa-icon [icon]="['fas', 'edit']" size="lg"></fa-icon>
        Editar 
      </a>
    </mat-card-title>
    <mat-card-content *ngIf="user">
      <div class="columns is-multiline is-centered">
        <div class="column is-three-fifths">
          <b>Nombre: </b>{{user.displayName}}
        </div>
        <mat-divider></mat-divider>
        <div class="column is-three-fifths">
          <b>Email: </b>{{user.email}}
        </div>
        <mat-divider></mat-divider>
        <div class="column is-three-fifths">
          <b>Fecha de nacimiento:</b>
          <ng-container *ngIf="!edit">
            <span *ngIf="!user.birthdate">Ingrese su fecha de nacimiento.</span>
            <span *ngIf="user.birthdate"> {{ user.birthdate | date: 'shortDate' }}</span>
          </ng-container>
          <ng-container *ngIf="edit">
            <mat-form-field>
              <input matInput name="birthdate" [min]="minDate" [max]="maxDate" [matDatepicker]="picker"
                [(ngModel)]="user.birthdate" placeholder="Ingrese su fecha de nacimiento">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker touchUi #picker></mat-datepicker>
            </mat-form-field>
          </ng-container>
        </div>
        <mat-divider></mat-divider>
        <div class="column is-three-fifths">
          <b>País de residencia: </b>
          <ng-container *ngIf="!edit">
            <span>{{user.country || 'Ingrese su país de residencia.'}}</span>
          </ng-container>
          <ng-container *ngIf="edit">
            <mat-form-field>
              <mat-select placeholder="País de residencia" [(ngModel)]="user.country">
                <mat-option *ngFor="let country of countries" value="{{country.name}}">{{country.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </ng-container>
        </div>
        <mat-divider></mat-divider>
        <div class="column is-three-fifths">
          <b>Número de teléfono: </b>
          <ng-container *ngIf="!edit">
            <span>{{user.phoneNumber || 'Agregue su número de teléfono.'}}</span>
          </ng-container>
          <ng-container *ngIf="edit">
            <mat-form-field>
              <input matInput type="tel" placeholder="Ingrese su número de teléfono" [(ngModel)]="user.phoneNumber">
            </mat-form-field>
          </ng-container>
        </div>
        <mat-divider></mat-divider>
        <div class="column is-three-fifths">
          <b>Saldo en cuenta: </b>{{ user.balance || 'USD 0.'}}
        </div>
        <mat-divider></mat-divider>
        <div class="column is-three-fifths">
          <b>Documento de identificación (DI): </b>
          <ng-container *ngIf="!edit">
            <span>{{user.idDocument || 'Agregue su número de DI.'}}</span>
          </ng-container>
          <ng-container *ngIf="edit">
            <mat-form-field>
              <input matInput type="number" placeholder="Ingrese su número de DI" [(ngModel)]="user.idDocument">
            </mat-form-field>
          </ng-container>
        </div>
        <mat-divider></mat-divider>
        <div class="column is-three-fifths">
          <b>Imagen de DI: </b>
          <ng-container *ngIf="!edit">
            <!-- <img [src]="user.idDocumentImage" class="img-responsive" *ngIf="user.idDocumentImage"> -->
            <span *ngIf="user.idDocumentImage">Ya registró una imagen de su DI.</span>
            <span *ngIf="!user.idDocumentImage">Agregue una imagen de su DI.</span>
          </ng-container>
          <ng-container *ngIf="edit">
            <!-- <label for="image"> agregar
              <button mat-icon-button type="button"><fa-icon [icon]="['far', 'file-image']" size="lg"></fa-icon>Editar</button>
            </label> -->
            <input type="file" #image (change)="changeImage($event)" accept="image/*" />
            <img [src]="user.idDocumentImage" class="img-responsive" *ngIf="user.idDocumentImage && !updateImage">
          </ng-container>
        </div>
        <mat-divider></mat-divider>
      </div>
    </mat-card-content>
    <mat-card-actions class="columns is-mobile is-multiline is-centered">
      <div class="column is-narrow">
        <button mat-raised-button color="primary" *ngIf="!edit" routerLink="/console/transfer">Quiero Transferir</button>
        <button mat-raised-button color="primary" *ngIf="edit" (click)="changeToEdit()" [disabled]="disabled">Cancelar</button>
      </div>
      <div class="column is-narrow">
        <button mat-raised-button color="primary" *ngIf="!edit" routerLink="/console/withdraw">Quiero Retirar</button>
        <button mat-raised-button color="primary" *ngIf="edit" (click)="save()" [disabled]="disabled">Actualizar</button>
      </div>
    </mat-card-actions>
  </mat-card>
</section>
