<section id="profile">
  <mat-card>
    <mat-card-title class="header">
      <h2 class="title">Información Personal</h2>
      <a class="edit" (click)="changeToEdit()" *ngIf="!edit && !register">
        <fa-icon [icon]="['fas', 'edit']" size="lg"></fa-icon>
        Editar 
      </a>
    </mat-card-title>
    <mat-card-content>
      <div class="columns is-multiline is-centered" *ngIf="currentUser && !edit && !register">
        <div class="column is-three-fifths">
          <b>Nombre: </b>{{currentUser.displayName}}
        </div>
        <mat-divider></mat-divider>
        <div class="column is-three-fifths">
          <b>Email: </b>
          <span *ngIf="!currentUser.email">Ingrese su correo electrónico</span>
          <span *ngIf="currentUser.email">{{ currentUser.email }}</span>
        </div>
        <mat-divider></mat-divider>
        <div class="column is-three-fifths">
          <b>Fecha de nacimiento: </b>
          <span *ngIf="!currentUser.birthdate">Ingrese su fecha de nacimiento.</span>
          <span *ngIf="currentUser.birthdate"> {{ currentUser.birthdate | date: 'shortDate' }}</span>
        </div>
        <mat-divider></mat-divider>
        <div class="column is-three-fifths">
          <b>País de residencia: </b>
          <span>{{currentUser.country || 'Ingrese su país de residencia.'}}</span>
        </div>
        <mat-divider></mat-divider>
        <div class="column is-three-fifths">
          <b>Número de teléfono: </b>
            <span>{{currentUser.phoneNumber || 'Agregue su número de teléfono.'}}</span>
        </div>
        <mat-divider></mat-divider>
        <div class="column is-three-fifths">
          <b>Saldo en cuenta: </b>USD {{ currentUser.balance }}.
        </div>
        <mat-divider></mat-divider>
        <div class="column is-three-fifths">
          <b>Documento de identificación (DI): </b>
          <span>{{currentUser.idDocument || 'Agregue su número de DI.'}}</span>
        </div>
        <mat-divider></mat-divider>
        <div class="column is-three-fifths">
          <b>Imagen de DI: </b>
          <ng-container *ngIf="!edit">
            <span *ngIf="currentUser.idDocumentImage">Ya registró una imagen de su DI.</span>
            <span *ngIf="!currentUser.idDocumentImage">Agregue una imagen de su DI.</span>
          </ng-container>
          <ng-container *ngIf="edit">
            <input type="file" #image (change)="changeImage($event)" accept="image/*" />
            <img [src]="currentUser.idDocumentImage" class="img-responsive" *ngIf="currentUser.idDocumentImage && !updateImage">
          </ng-container>
        </div>
        <mat-divider></mat-divider>
      </div>
      <form [formGroup]="editAccountForm" class="columns is-multiline is-centered" *ngIf="edit && !register">
        <mat-form-field class="column is-three-fifths" *ngIf="!currentUser.email">
          <input matInput type="email" placeholder="Ingrese su correo electrónico" formControlName="userEmail">
          <mat-error *ngIf="userEmail.hasError('required')">
            El campo es requerido.
          </mat-error>
          <mat-error *ngIf="userEmail.hasError('email')">
            Ingrese un correo electrónico válido
          </mat-error>
        </mat-form-field>
        <mat-form-field class="column is-three-fifths">
          <input matInput name="birthdate" [min]="aHundredYearsAgo" [max]="now" [matDatepicker]="picker"
            formControlName="birthDate" placeholder="Ingrese su fecha de nacimiento">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker touchUi #picker></mat-datepicker>
          <mat-error *ngIf="birthDate.hasError('required')">
            El campo es requerido.
          </mat-error>
        </mat-form-field>
        <mat-form-field class="column is-three-fifths">
          <mat-select placeholder="Ingrese su país de residencia" formControlName="country">
            <mat-option *ngFor="let country of countries" value="{{country.name}}">{{country.name}}</mat-option>
          </mat-select>
          <mat-error *ngIf="country.hasError('required')">
            El campo es requerido.
          </mat-error>
        </mat-form-field>
        <mat-form-field class="column is-three-fifths">
          <input matInput type="tel" placeholder="Ingrese su número de teléfono" formControlName="phoneNumber">
          <mat-error *ngIf="phoneNumber.hasError('required')">
            El campo es requerido.
          </mat-error>
          <mat-error *ngIf="phoneNumber.hasError('pattern')">
            Sólo números aceptados.
          </mat-error>
        </mat-form-field>
        <mat-form-field class="column is-three-fifths">
          <input matInput type="number" placeholder="Ingrese su número de DI" formControlName="documentNumber">
          <mat-error *ngIf="documentNumber.hasError('required')">
            El campo es requerido.
          </mat-error>
          <mat-error *ngIf="documentNumber.hasError('pattern')">
            Sólo carácteres alfanuméricos aceptados (letras y números).
          </mat-error>
        </mat-form-field>
        <div class="column is-three-fifths">
          <label for="idDocumentImage">
            <a mat-raised-button class="inputFileButton" (click)="image.click()">
              Agregar imagen de documento de indentificación
              <mat-icon aria-label="Agregar imagen de documento de indentificación">attach_file</mat-icon>
            </a>
          </label>
          <input type="file" #image (change)="changeImage($event)" accept="image/*" style="display:none;"/>
          <p *ngIf="updateImageName">{{updateImageName}}</p>
          <img [src]="currentUser.idDocumentImage" class="img-responsive" *ngIf="currentUser.idDocumentImage && !updateImage">
          <!-- <img [src]="updateImageUrl" class="img-responsive" *ngIf="updateImageUrl"> -->
        </div>
      </form>
      <div class="columns is-multiline is-centered" *ngIf="register">
        <form [formGroup]="registerAccountForm" class="column is-three-fifths">
          <mat-form-field>
            <mat-select placeholder="Seleccione un tipo de cuenta" formControlName="type">
              <mat-option *ngFor="let type of typeAccounts | keyvalue" [value]="type.value">
                {{type.value}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="type.hasError('required')">
              El campo es requerido.
            </mat-error>
          </mat-form-field>
          <mat-form-field *ngIf="registerAccountForm.value.type">
            <input matInput type="text" placeholder="Nombre del titular de la cuenta" formControlName="name">
            <mat-error *ngIf="name.hasError('required')">
              El campo es requerido.
            </mat-error>
          </mat-form-field>
          <mat-form-field *ngIf="registerAccountForm.value.type === typeAccounts.plataform">
            <mat-select placeholder="Plataforma electrónica" formControlName="plataform">
              <mat-option *ngFor="let plataform of plataforms" [value]="plataform.name">
                {{plataform.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="plataform.hasError('required')">
              El campo es requerido.
            </mat-error>
          </mat-form-field>
          <mat-form-field *ngIf="type.value === typeAccounts.plataform">
            <input matInput type="email" placeholder="Correo electrónico" formControlName="email">
            <mat-error *ngIf="email.hasError('required')">
              El campo es requerido.
            </mat-error>
            <mat-error *ngIf="email.hasError('email')">
              Ingrese un email correcto.
            </mat-error>
          </mat-form-field>
          <mat-form-field *ngIf="type.value === typeAccounts.banking">
            <mat-select placeholder="Tipo de Cuenta Bancaria" formControlName="accountType">
              <mat-option *ngFor="let accountType of accountTypes" [value]="accountType">
                {{accountType}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="accountType.hasError('required')">
              El campo es requerido.
            </mat-error>
          </mat-form-field>
          <mat-form-field *ngIf="type.value === typeAccounts.banking">
            <input matInput type="number" placeholder="Número de cuenta" formControlName="numberAccount">
            <mat-error *ngIf="numberAccount.hasError('required')">
              El campo es requerido.
            </mat-error>
            <mat-error *ngIf="numberAccount.hasError('pattern')">
              Sólo números permitidos.
            </mat-error>
          </mat-form-field>
          <mat-form-field *ngIf="type.value === typeAccounts.banking">
            <input matInput type="text" placeholder="Entidad Bancaria" formControlName="entity">
            <mat-error *ngIf="numberAccount.hasError('required')">
              El campo es requerido.
            </mat-error>
          </mat-form-field>
        </form>
      </div>
    </mat-card-content>
    <mat-card-actions class="columns is-mobile is-multiline is-centered">
      <div class="column is-narrow">
        <button mat-raised-button color="primary" *ngIf="!edit && !register" (click)="changeView('transferView')" type="button">Quiero Transferir</button>
        <button mat-raised-button color="primary" *ngIf="edit && !register" (click)="changeToEdit()" type="button" [disabled]="disabled">Cancelar</button>
        <button mat-raised-button color="primary" *ngIf="register && !edit" (click)="changeToRegister()" type="button" [disabled]="disabled">Cancelar</button>
      </div>
      <div class="column is-narrow">
        <button mat-raised-button color="primary" *ngIf="!edit && !register" (click)="changeView('withdrawView')" type="button">Quiero Retirar</button>
        <button mat-raised-button color="primary" *ngIf="edit && !register" (click)="onEditSubmit()" [disabled]="disabled">Actualizar</button>
        <button mat-raised-button color="primary" *ngIf="register && !edit" (click)="registerAccount()" [disabled]="disabled">Registrar</button>
      </div>
      <div class="column is-narrow">
        <button mat-raised-button color="primary" *ngIf="!register && !edit" (click)="changeToRegister()">Agregar Cuenta</button>
      </div>
    </mat-card-actions>
  </mat-card>
</section>
