<section id="profile">
  <div class="profile container z-depth-1">
    <div class="row">
      <div class="col s12 m10 offset-m1" *ngIf="user">
        <ul class="collection with-header">
          <li class="collection-header center background">
            <h4 class="profileTitle">Información Personal</h4>
              <a class="secondary-content edit inline" (click)="changeToEdit()" *ngIf="!edit">
                <fa-icon [icon]="['fas', 'edit']" size="lg"></fa-icon>
              </a>
          </li>
          <li class="collection-item" *ngIf="messages.length">
            <p *ngFor="let message of messages">{{message}}</p>
          </li>
          <li class="collection-item">
            <span><b>Nombre:</b> {{user.displayName}}</span>
          </li>
          <li class="collection-item">
            <span><b>Email:</b> {{user.email}}</span>
          </li>
          <li class="collection-item">
            <span><b>Fecha de nacimiento: </b></span>
            <div *ngIf="!edit" class="inline">
              <span *ngIf="!user.birthdate">Ingrese su fecha de nacimiento</span>
              <span *ngIf="user.birthdate">{{ user.birthdate | date: 'shortDate' }}</span>
            </div>
            <div *ngIf="edit" class="inline">
              <mat-form-field>
                <input matInput name="birthdate"
                  [min]="minDate" [max]="maxDate"
                  [matDatepicker]="picker" [(ngModel)]="user.birthdate"
                  placeholder="Ingrese su fecha de nacimiento" >
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker touchUi #picker></mat-datepicker>
              </mat-form-field>
            </div>
          </li>
          <li class="collection-item">
            <span><b>País de residencia: </b></span>
            <div *ngIf="!edit" class="inline">
              <span>{{user.country || 'Ingrese su país de residencia'}}</span>
            </div>
            <div *ngIf="edit" class="inline">
              <mat-form-field>
                <mat-select placeholder="País de residencia" [(ngModel)]="user.country">
                  <mat-option *ngFor="let country of countries" value="{{country.name}}">{{country.name}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </li>
          <li class="collection-item">
            <span><b>Número de teléfono: </b></span>
            <div *ngIf="!edit" class="inline">
              <span>{{user.phoneNumber || 'Agregue su número de teléfono'}}</span>
            </div>
            <div *ngIf="edit"class="inline">
              <mat-form-field>
                <input matInput type="tel" placeholder="Ingrese su número de teléfono"
                  [(ngModel)]="user.phoneNumber">
              </mat-form-field>
            </div>
          </li>
          <li class="collection-item">
            <span><b>Documento de identificación (DI): </b>
            </span>
            <div *ngIf="!edit" class="inline">
             <span>{{user.idDocument || 'Agregue su número de DI'}}</span>
            </div>
            <div *ngIf="edit" class="inline">
              <mat-form-field>
                <input matInput type="number" placeholder="Ingrese su número de DI" [(ngModel)]="user.idDocument">
              </mat-form-field>
            </div>
          </li>
          <li class="collection-item">
            <span><b>Imagen de documento de identificación (DI): </b></span>
            <div *ngIf="!edit" class="inline">
              <img [src]="user.idDocumentImage" class="img-responsive" *ngIf="user.idDocumentImage">
              <span *ngIf="!user.idDocumentImage">Agregue una imagen de su DI</span>
            </div>
            <div *ngIf="edit" class="inline">
              <input type="file" #image (change)="changeImage($event)" accept=".png, .jpg, .jpeg" />
              <img [src]="user.idDocumentImage" class="img-responsive" *ngIf="user.idDocumentImage">
            </div>
          </li>
          <li class="collection-item">
            <b>Saldo en cuenta: </b>{{ user.balance || 'USD 0.'}}
          </li>
        </ul>
      </div>
    <div class="row center" *ngIf="!edit">
      <div class="col s12 m5 offset-m1">
        <a routerLink="/console/transfer" class="waves-effect waves-light btn-large btn">Quiero Transferir</a>
      </div>
      <div class="col s12 m5">
        <a routerLink="/console/withdraw" class="waves-effect waves-light btn-large btn">Quiero retirar</a>
      </div>
    </div>
    <div class="row center" *ngIf="edit">
      <div class="col s12 m5 offset-m1">
        <a (click)="changeToEdit()" class="waves-effect waves-light btn-large btn">Cancelar</a>
      </div>
      <div class="col s12 m5">
        <a (click)="save()" class="waves-effect waves-light btn-large btn">Actualizar</a>
      </div>
    </div>
    </div>
  </div>
</section>
