<section id="withdraw" class="valign-wrapper">
	<div class="container">
		<div class="row">
			<div class="col m7 center-align">
				<h3 class="withdraw-title">Retira tus ganancias:</h3>
				<br />
				<p>¿Tienes saldos positivos y quieres transferirlos a pesos chilenos? ¡Recibimos los dólares que tengas en tu sala de juegos favorita y te transferimos a tu cuenta corriente en Chile el mismo día!</p>
				<a class="waves-effect waves-light btn-large red darken-1">Quiero Retirar</a>
			</div>
		</div>
	</div>
</section>
