<section class="withdraw">
	<div class="container">
		<div class="row">
			<div class="withdraw-present s9 col m7">
				<h3 class="withdraw-title">Retira tus ganancias:</h3>
				<br />
				<p class="withdraw-text">¿Tienes saldos positivos y quieres transferirlos a pesos chilenos? ¡Recibimos los dólares que tengas en tu sala de juegos favorita y te transferimos a tu cuenta corriente en Chile el mismo día!</p>
				<a class="waves-effect waves-light btn-large azulito">Quiero Retirar</a>
			</div>
		</div>
	</div>
  <div class="background-filling"></div>
  <div class="common-StripeGrid">
      <div class="backgroundContainer">
        <div class="grid">
          <div class="background"></div>
        </div>
      </div>
      <div class="stripeContainer">
        <div class="grid">
          <div class="stripeW"></div>
          <div class="stripeW"></div>
          <div class="stripeW"></div>
          <div class="stripeW"></div>
          <div class="stripeW"></div>
          <div class="stripeW"></div>
          <div class="stripeW"></div>
          <div class="stripeW"></div>
          <div class="stripeW"></div>
          <div class="stripeW"></div>
          <div class="stripeW"></div>
          <div class="stripeW"></div>
        </div>
      </div>
  </div>
</section>
