<div class="is-scrolled">
  <section id="admin">
    <mat-card>
      <mat-card-title class="header">
        <h2 class="title">Panel de Administración</h2>
      </mat-card-title>
      <mat-card-content>
        <mat-tab-group>
          <mat-tab label="Plataformas">
            <div class="center-container" *ngIf="exchangeRates">
              <h3>Tipos de cambio actual:</h3>
              <p *ngFor="let rate of exchangeRates">
                <b>{{rate.value}} {{rate.id}}</b>
              <button class="" mat-raised-button color="primary"
                (click)="openDialog('exchangeRate', '', '', '', rate)">Editar</button>              
              </p>
            </div>
            <div class="center-container">
              <button class="" mat-raised-button color="primary" (click)="openDialog('addPlataform')">Agregar plataforma</button>
            </div>
            <mat-table [dataSource]="plataforms">

              <!-- Plataform Name Column -->
              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef>Plataforma</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
              </ng-container>
      
              <!-- Plataform Tax Column -->
              <ng-container matColumnDef="tax">
                <mat-header-cell *matHeaderCellDef>Comisión</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.tax}}%</mat-cell>
              </ng-container>

              <!-- Options Column -->
              <ng-container matColumnDef="plataformsOptions">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <button mat-icon-button [matMenuTriggerFor]="appMenu">
                    <fa-icon [icon]="['fas', 'ellipsis-v']" size="lg"></fa-icon>
                  </button>
                  <mat-menu #appMenu="matMenu" xPosition="after" [overlapTrigger]="false">
                    <button mat-menu-item (click)="openDialog('editPlataform', '', '', element)">Editar</button>
                    <button mat-menu-item (click)="openDialog('deletePlataform', '', '', element)">Eliminar</button>
                  </mat-menu>
                </mat-cell>
              </ng-container>
      
              <mat-header-row *matHeaderRowDef="plataformsColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: plataformsColumns;"></mat-row>
            </mat-table>
            <div *ngIf="plataforms">
              <mat-toolbar color="primary" *ngIf="!plataforms.data.length">No existen plataformas
              </mat-toolbar>
            </div>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
          </mat-tab>
          <mat-tab label="Clientes">
            <mat-table [dataSource]="users">

              <!-- Name Column -->
              <ng-container matColumnDef="displayName">
                <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.displayName}}</mat-cell>
              </ng-container>

              <!-- Country Column -->
              <ng-container matColumnDef="country">
                <mat-header-cell *matHeaderCellDef>País</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.country}}</mat-cell>
              </ng-container>
      
              <!-- idDocument Column -->
              <ng-container matColumnDef="idDocument">
                <mat-header-cell *matHeaderCellDef>DI</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.idDocument}}</mat-cell>
              </ng-container>
      
              <!-- idDocumentImage Column -->
              <ng-container matColumnDef="idDocumentImage">
                <mat-header-cell *matHeaderCellDef>Imagen DI</mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <a href="{{element.idDocumentImage}}" target="_blank" *ngIf="element.idDocumentImage">
                    <img class="documentImage" src="{{element.idDocumentImage}}" alt="Imagen de DI">
                  </a>
                </mat-cell>
              </ng-container>

              <!-- Status Column -->
              <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef>Estado</mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <ng-container *ngIf="element.isVerified; else noVerified">Verificado</ng-container>
                  <ng-template #noVerified>No verificado</ng-template>
                </mat-cell>
              </ng-container>
    
              <!-- Options Column -->
              <ng-container matColumnDef="usersOptions">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <button mat-icon-button [matMenuTriggerFor]="appMenu">
                    <fa-icon [icon]="['fas', 'ellipsis-v']" size="lg"></fa-icon>
                  </button>
                  <mat-menu #appMenu="matMenu" xPosition="after" [overlapTrigger]="false">
                    <button *ngIf="!element.isVerified" mat-menu-item (click)="openDialog('verify', element)">Verificar usuario</button>
                    <button mat-menu-item (click)="openDialog('editBalance', element)">Asignar saldo</button>
                  </mat-menu>
                </mat-cell>
              </ng-container>
      
              <mat-header-row *matHeaderRowDef="usersColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: usersColumns;"></mat-row>
            </mat-table>
            <div *ngIf="users">
              <mat-toolbar color="primary" *ngIf="!users.data.length">No existen clientes
              </mat-toolbar>
            </div>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
          </mat-tab>
          <mat-tab label="Compras">
            <mat-table [dataSource]="purchasesOperations">

              <!-- Plataform Date Column -->
              <ng-container matColumnDef="date">
                <mat-header-cell *matHeaderCellDef>Fecha</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.date | date:'dd-MM-yyyy, hh:mm aa'}}</mat-cell>
              </ng-container>

              <!-- Plataform Origin Account Column -->
              <ng-container matColumnDef="originAccount">
                <mat-header-cell *matHeaderCellDef>Cuenta de Origen</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.originAccount.id}}</mat-cell>
              </ng-container>

              <!-- Plataform Amount Column -->
              <ng-container matColumnDef="amount">
                <mat-header-cell *matHeaderCellDef>Cantidad</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.amount}}</mat-cell>
              </ng-container>

              <!-- Plataform Destination Account Column -->
              <ng-container matColumnDef="destinationAccount">
                <mat-header-cell *matHeaderCellDef>Destination Origen</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.destinationAccount.id}}</mat-cell>
              </ng-container>

              <!-- Status Column -->
              <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef>Estado</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.status}}</mat-cell>
              </ng-container>

              <!-- Options Column -->
              <ng-container matColumnDef="purchasesOptions">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <button mat-icon-button [matMenuTriggerFor]="appMenu"*ngIf="element.status !== 'Cancelada'" >
                    <fa-icon [icon]="['fas', 'ellipsis-v']" size="lg"></fa-icon>
                  </button>
                  <mat-menu #appMenu="matMenu" xPosition="after" [overlapTrigger]="false">
                    <button mat-menu-item (click)="openDialog('detailedOperation', '', element)">Ver Detalles</button>
                    <button mat-menu-item (click)="openDialog('acceptOperation', '', element)"
                      *ngIf="element.status === 'Solicitada'">Aprobar Operación</button>
                    <button mat-menu-item (click)="openDialog('rejectOperation', '', element)"
                      *ngIf="element.status === 'Solicitada'">Declinar Operación</button>                    
                    <button mat-menu-item (click)="openDialog('closeOperation', '', element)"
                      *ngIf="element.status === 'Procesada'">Cerrar Operación</button>
                  </mat-menu>
                </mat-cell>
              </ng-container>
      
              <mat-header-row *matHeaderRowDef="purchasesColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: purchasesColumns;"></mat-row>
            </mat-table>
            <div *ngIf="purchasesOperations">
              <mat-toolbar color="primary" *ngIf="!purchasesOperations.data.length">No existen operaciones de compra
              </mat-toolbar>
            </div>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
          </mat-tab>
          <mat-tab label="Ventas">
            <mat-table [dataSource]="salesOperations">

              <!-- Plataform Date Column -->
              <ng-container matColumnDef="dateSales">
                <mat-header-cell *matHeaderCellDef>Fecha</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.date | date:'dd-MM-yyyy, hh:mm aa'}}</mat-cell>
              </ng-container>
        
              <!-- Plataform Origin Account Column -->
              <ng-container matColumnDef="originAccountSales">
                <mat-header-cell *matHeaderCellDef>Cuenta de Origen</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.originAccount.id}}</mat-cell>
              </ng-container>
  
              <!-- Plataform Amount Column -->
              <ng-container matColumnDef="amountSales">
                <mat-header-cell *matHeaderCellDef>Cantidad</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.amount}}</mat-cell>
              </ng-container>

              <!-- Status Column -->
              <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef>Estado</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.status}}</mat-cell>
              </ng-container>

              <!-- Options Column -->
              <ng-container matColumnDef="salesOptions">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <button mat-icon-button [matMenuTriggerFor]="appMenu" *ngIf="element.status !== 'Cancelada'">
                    <fa-icon [icon]="['fas', 'ellipsis-v']" size="lg"></fa-icon>
                  </button>
                  <mat-menu #appMenu="matMenu" xPosition="after" [overlapTrigger]="false">
                    <button mat-menu-item (click)="openDialog('detailedOperation', '', element)">Ver Detalles</button>
                    <button mat-menu-item (click)="openDialog('acceptOperation', '', element)"
                      *ngIf="element.status === 'Solicitada'">Aprobar Operación</button>
                    <button mat-menu-item (click)="openDialog('rejectOperation', '', element)"
                      *ngIf="element.status === 'Solicitada'">Declinar Operación</button>
                    <button mat-menu-item (click)="openDialog('closeOperation', '', element)"
                      *ngIf="element.status === 'Procesada'">Cerrar Operación</button>
                  </mat-menu>
                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="salesColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: salesColumns;"></mat-row>
            </mat-table>
            <div *ngIf="salesOperations">
              <mat-toolbar color="primary" *ngIf="!salesOperations.data.length">No existen operaciones de venta
              </mat-toolbar>
            </div>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
          </mat-tab>
          </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </section>
</div>
