#admin {
  min-width: 550px;
}

.center-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;

  .container-row {
    align-items: center;
    display: flex;
    flex: 1 50%;
    justify-content: space-between;
    padding-right: 20px;
    padding-bottom: 20px;

    .container-text {
      flex: 1 100%;
    }

    .container-button {
      flex: 0 0 auto;
      margin: 0 10px;
    }
  }
}

.center-text {
	margin: 20px 0;
  text-align: center;
}

mat-table {
  word-break: break-word;
}

mat-card {
  padding: 0px;
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
}

mat-card-title {
  margin: 0px;
}

.header {
  text-align: center;
  position: relative;
  width: 100%;
  padding: 16px;
  background-color: #e4effa !important;
}

.title {
  align-self: center;
  display: inline;
}

mat-table {
  margin: 2rem 0;
  border: 1px solid #e4effa;
}

.is-scrolled {
  overflow-x: auto;
}

.documentImage {
  padding-right: 6px;
  padding-top: 6px;
}

//- Plataformas
.mat-column-name {
  flex: 0 0 45%;
}

.mat-column-tax {
  flex: 0 0 45%;
}

.mat-column-plataformsOptions {
  flex: 0 0 10%;
}

//- Usuarios
.mat-column-displayName {
  flex: 0 0 25%;
}

.mat-column-country {
  flex: 0 0 25%;
}

.mat-column-idDocument {
  flex: 0 0 15%;
}

.mat-column-idDocumentImage {
  flex: 0 0 10%;
}

.mat-column-status {
  flex: 0 0 15%;
}

.mat-column-usersOptions {
  flex: 0 0 10%;
}

//- Transferencias
.mat-column-date {
  flex: 0 0 15%;
}

.mat-column-originAccount {
  flex: 0 0 25%;
}

.mat-column-amount {
  flex: 0 0 15%;
}

.mat-column-destinationAccount {
  flex: 0 0 25%;
}

.mat-column-status {
  flex: 0 0 10%;
}

.mat-column-purchasesOptions {
  flex: 0 0 10%;
}

//- Retiros
.mat-column-dateSales {
  flex: 0 0 25%;
}

.mat-column-originAccountSales {
  flex: 0 0 40%;
}

.mat-column-amountSales {
  flex: 0 0 15%;
}

.mat-column-salesOptions {
  flex: 0 0 10%;
}
