<section id="withdraw">
  <mat-card>
    <mat-card-title class="header">
      <h2 class="title">Retiro</h2>
    </mat-card-title>
    <mat-card-content *ngIf="currentUser">
      <mat-list *ngIf="messages">
        <ng-container *ngFor="let message of messages">
          <mat-list-item>{{message}}</mat-list-item>
          <mat-divider></mat-divider>
        </ng-container>
        <br>
      </mat-list>
      <form class="columns is-multiline is-centered" [formGroup]="withdrawForm" (ngSubmit)="onSubmit()">
        <div class="column is-four-fifths">
          <div class="columns is-multiline is-centered">
            <div class="column is-half is-three-fifths-mobile is-center">
              <mat-form-field>
                <mat-select formControlName="originAccount" placeholder="Cuenta de Origen" required>
                  <mat-option *ngFor="let account of accounts" [value]="account">
                    {{account.id}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="originAccount.hasError('required')">
                  El campo es requerido.
                </mat-error>
              </mat-form-field>
            </div>
            <div class="column is-half is-three-fifths-mobile is-center">
              <mat-form-field>
                <input matInput type="number" placeholder="Cantidad a retirar" formControlName="amount" required>
                <mat-error *ngIf="amount.hasError('required')">
                  El campo es requerido.
                </mat-error>
                <mat-error *ngIf="amount.hasError('pattern')">
                  Sólo carácteres numéricos aceptados.
                </mat-error>
              </mat-form-field>
            </div>
            <div class="column is-full is-three-fifths-mobile">
              <b>Detalle de la operación: </b>
              <span class="success" *ngIf="operation === 'Monedero Electrónico'">Por el envío de una cantidad de
                {{amount.value}} USD {{originAccount.value.entity}}, recibirás una cantidad de 
                {{toReceive.amount}} COP (comisión de {{toReceive.tax}}%).
              </span>
              <span class="success" *ngIf="operation === 'Cuenta Bancaria'">Por el envío de una cantidad de
                {{amount.value}} COP {{originAccount.value.entity}}, recibirás una cantidad de
                {{toReceive.amount}} Bs S.
              </span>
            </div>
            <div class="column is-full is-four-fifths-mobile">
              <mat-form-field>
                <textarea matInput
                rows="4"
                placeholder="Si tienes algo más que comentar, escribe aquí."
                formControlName="comment" maxlength="200"></textarea>
                <mat-hint align="end" *ngIf="comment.value">{{comment.length}} / 200</mat-hint>
              </mat-form-field>
            </div>
          </div>
        </div>
        <mat-divider></mat-divider>
      </form>
    </mat-card-content>
    <mat-card-actions class="columns is-mobile is-multiline is-centered">
      <div class="column is-narrow">
        <button mat-raised-button color="primary" (click)="changeView('userView')">Regresar</button>
        <button mat-raised-button color="primary" (click)="onSubmit()">Retirar</button>
      </div>
    </mat-card-actions>
  </mat-card>
</section>
