<section id="withdraw">
  <mat-card>
    <mat-card-title class="header">
      <h2 class="title">Retiro</h2>
    </mat-card-title>
    <mat-card-content class="columns is-multiline is-centered">
      <div class="column is-four-fifths content" *ngIf="user">
        <mat-list>
          <ng-container *ngIf="messages">
            <mat-list-item>
              <p>{{messages}}</p>
            </mat-list-item>
            <mat-divider></mat-divider>
          </ng-container>
          <mat-list-item *ngIf="!register" class="columns is-mobile is-multiline is-centered">
            <div class="column">
              <p class="label"><b>Cuenta Origen: </b></p>
              <mat-form-field>
                <mat-select [disabled]="disabled" [(ngModel)]="originAccount" placeholder="Seleccione una cuenta">
                  <mat-option *ngFor="let account of accounts" [value]="account.plataform">
                    {{account.plataform}}: {{account.accountNumber}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="column">
              <p class="label"><b>Monto a retirar</b></p>
              <mat-form-field>
                <input matInput type="number" placeholder="Cantidad a retirar" [(ngModel)]="toWithdraw" [disabled]="disabled">
                <span matPrefix>$&nbsp;</span>
              </mat-form-field>
            </div>
          </mat-list-item>
          <mat-list-item *ngIf="register">
            <p class="label"><b>Plataforma: </b></p>
          </mat-list-item>
          <mat-list-item *ngIf="register">
            <mat-form-field>
              <mat-select placeholder="Plataforma electrónica" [(ngModel)]="account.plataform">
                <mat-option *ngFor="let plataform of plataforms" [value]="plataform" placeholder="Seleccione una plataforma">
                  {{plataform}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <input matInput type="number" placeholder="Número de cuenta" [(ngModel)]="account.accountNumber">
            </mat-form-field>
          </mat-list-item>
          <mat-divider></mat-divider>
        </mat-list>
      </div>
    </mat-card-content>
    <mat-card-actions class="columns is-mobile is-multiline is-centered">
      <div class="column is-narrow">
        <button mat-raised-button color="primary" (click)="changeToRegister()">
          <ng-container *ngIf="!register">Agregar Cuenta</ng-container>
          <ng-container *ngIf="register">Cancelar</ng-container>
        </button>
      </div>
      <div class="column is-narrow">
        <button mat-raised-button color="primary" *ngIf="!register" (click)="withdraw()"
          [disabled]="buttonDisable">Retirar</button>
        <button mat-raised-button color="primary" *ngIf="register" (click)="registerAccount()">Agregar</button>
      </div>
    </mat-card-actions>
  </mat-card>
</section>
