<section id="withdraw">
  <mat-card>
    <mat-card-title class="header">
      <h2 class="title">Retiro</h2>
    </mat-card-title>
    <mat-card-content *ngIf="currentUser">
      <mat-list *ngIf="messages">
        <ng-container *ngFor="let message of messages">
          <mat-list-item>{{message}}</mat-list-item>
          <mat-divider></mat-divider>
        </ng-container>
        <br>
      </mat-list>
      <form class="columns is-multiline is-centered is-mobile" [formGroup]="withdrawForm" (ngSubmit)="onSubmit()">
        <div class="column is-full-mobile is-four-fifths-tablet">
          <div class="columns is-multiline is-centered is-mobile">
            <div class="column is-three-fifths-mobile is-half-tablet">
              <mat-form-field>
                <mat-select formControlName="originAccount" placeholder="Cuenta de Origen" required>
                  <mat-option *ngFor="let account of accounts" [value]="account">
                    {{account.id}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="originAccount.hasError('required')">
                  El campo es requerido.
                </mat-error>
              </mat-form-field>
            </div>
            <div class="column is-three-fifths-mobile is-half-tablet">
              <mat-form-field>
                <input matInput type="number" placeholder="Cantidad a retirar" formControlName="amount" required>
                <mat-error *ngIf="amount.hasError('required')">
                  El campo es requerido.
                </mat-error>
                <mat-error *ngIf="amount.hasError('pattern')">
                  Sólo carácteres numéricos aceptados.
                </mat-error>
              </mat-form-field>
            </div>
            <div class="column is-three-fifths-mobile is-half-tablet">
              <mat-form-field>
                <mat-select formControlName="currency" placeholder="Moneda de recibo" required>
                  <ng-container *ngFor="let currency of currencies">
                    <mat-option *ngIf="originAccount.value.currency !== currency" [value]="currency">
                      {{currency}}
                    </mat-option>
                  </ng-container>
                </mat-select>
                <mat-error *ngIf="currency.hasError('required')">
                  El campo es requerido.
                </mat-error>
              </mat-form-field>
            </div>
            <div class="column is-three-fifths-mobile is-half-tablet">
              <b>Detalle de la operación: </b>
              <span class="success" *ngIf="toReceive.tax && toReceive.amount">Por el envío de una cantidad de
                {{amount.value}} {{originAccount.value.currency}} <ng-container *ngIf="originAccount.value.entity">{{originAccount.value.entity.name}}</ng-container>
                <ng-container *ngIf="originAccount.value.plataform">{{originAccount.value.plataform.name}}</ng-container>
                , recibirás una cantidad de 
                {{toReceive.amount}} {{currency.value}} (comisión de {{toReceive.tax}}%).
              </span>
            </div>
            <div class="column is-three-fifths-mobile is-full-tablet">
              <b>Especifíque el tipo, el número de cuenta, el titular de la cuenta y número de identificación para recibir el pago: </b>
              <mat-form-field>
                <textarea matInput
                rows="4"
                placeholder="Agrega toda la información necesaria para recibir el pago."
                formControlName="comment" maxlength="200"></textarea>
                <mat-hint align="end" *ngIf="comment.value">{{comment.value.length}} / 200</mat-hint>
              </mat-form-field>
            </div>
          </div>
        </div>
        <mat-divider></mat-divider>
      </form>
    </mat-card-content>
    <mat-card-actions class="columns is-mobile is-multiline is-centered">
      <div class="column is-narrow">
        <button mat-raised-button color="primary" (click)="changeView('userView')">Regresar</button>
        <button mat-raised-button color="primary" (click)="onSubmit()">Retirar</button>
      </div>
    </mat-card-actions>
  </mat-card>
</section>
