.mat-list-base {
  padding-top: 0px;
}

mat-card {
  padding: 0px;
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
}

mat-card-title {
  margin: 0px;
}

mat-card-content {
  padding: 0px 10px 10px 10px;
  margin: 0px;
}

button {
  text-transform: uppercase;
  width: 100%;
}

.header {
  text-align: center;
  position: relative;
  width: 100%;
  padding: 16px;
  background-color: #e4effa !important;
}

.title {
  align-self: center;
  display: inline;
}

.mat-list-item {
  height: auto;
  padding: 10px 0px;
  margin: 0  !important;
}

.label {
  text-align: center;
  margin: 0 auto;
}

mat-form-field {
  width: 100%;
  margin-right: 10px;
}

.register {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

@media screen and (min-width: 480px){
  mat-card{
    width: 90%;
  }
}

@media screen and (min-width: 768px){
  mat-card{
    width: 70%;
  }
}
