mat-card {
  padding: 0px;
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
}

mat-card-title {
  margin: 0px;
}

mat-card-content {
  padding: 0px 10px 10px 10px;
  margin: 0px;
}

.is-flex-end {
  align-self: flex-end;
}

.mat-card .mat-divider-horizontal {
  position: inherit;
}

.header {
  text-align: center;
  position: relative;
  width: 100%;
  padding: 16px;
  background-color: #e4effa !important;
}

.title {
  align-self: center;
  display: inline;
}

mat-form-field {
  width: 100%;
}

.mat-list-item {
  font-size: 12px;
  font-weight: 600;
}

.mat-list-item-content {
  padding: 16px;
}

.success {
  color: green;
  font-weight: 500;
}

@media screen and (min-width: 480px){
  mat-card{
    width: 90%;
  }
}

@media screen and (min-width: 769px){
  mat-card{
    width: 70%;
  }
}
