<section id="transfer">
  <mat-card>
    <mat-card-title class="header">
      <h2 class="title">Transferencia</h2>
    </mat-card-title>
    <mat-card-content *ngIf="user">
      <div class="columns is-multiline is-centered">
        <div class="column is-three-fifths" *ngIf="messages">
          <p>{{messages}}</p>
          <mat-divider></mat-divider>
        </div>
        <div class="column is-four-fifths">
          <div class="columns is-multiline is-centered">
            <div class="column is-half is-three-fifths-mobile is-center">
              <b>Cuenta Origen: </b>
              <mat-form-field>
                <mat-select [disabled]="disabled" [(ngModel)]="originAccount">
                  <mat-option *ngFor="let account of accounts" [value]="account.id" placeholder="Seleccione una cuenta">
                    <ng-container *ngIf="account.type === typeAccounts.plataform">
                      {{account.plataform}}: {{account.email}}
                    </ng-container>
                    <ng-container *ngIf="account.type === typeAccounts.banking">
                      {{account.entity}}: {{account.numberAccount}}
                    </ng-container>
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="column is-half is-three-fifths-mobile is-center">
              <b>Cuenta Destino: </b>
              <mat-form-field>
                <mat-select [disabled]="disabled" [(ngModel)]="destinationAccount">
                  <mat-option *ngFor="let account of accounts" [value]="account.id" placeholder="Seleccione una cuenta">
                    <ng-container *ngIf="account.type === typeAccounts.plataform">
                      {{account.plataform}}: {{account.email}}
                    </ng-container>
                    <ng-container *ngIf="account.type === typeAccounts.banking">
                      {{account.entity}}: {{account.numberAccount}}
                    </ng-container>
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <mat-divider></mat-divider>
      </div>
    </mat-card-content>
    <mat-card-actions class="columns is-mobile is-multiline is-centered">
      <div class="column is-narrow">
        <button mat-raised-button color="primary" (click)="goBack()">Regresar</button>
        <button mat-raised-button color="primary" (click)="transfer()"
          [disabled]="buttonDisable">Transferir</button>
      </div>
    </mat-card-actions>
  </mat-card>
</section>
