header {
  background-color: #e4effa;
}
nav {
  background-color: transparent;
  box-shadow: none;
}

.navbar-item img {
  max-height: 64px;
}

.navbar-title {
  font-size: 16px;
  transition: all 800ms ease-in-out;
}

nav ul a {
  color: #32325d !important;
}

nav a:hover {
  color: inherit;
}

.scroll {
	position: fixed;
  bottom: 35px;
	right: 35px;
	color: #6772e5;
	height: 30px;
	width: 30px;
	z-index: 1 !important;
}

@media screen and (max-width: 600px) {
  .scroll {
    display: none;
  }
}

.scroll:hover {
  color: #32325d;
}

.brand-logo {
	height: 60px;
  width: auto;
  border-radius: 50%;
  margin-right: 10px;
}

.navbar-item {
  font-weight: 500;
}

.menu {
  position: fixed;
  top: 35px;
	left: 35px;
	z-index: 1 !important;
}

@media screen and (min-width: 480px) {
  .navbar-title {
    font-size: 26px;
  }
}

@media screen and (min-width: 768px) {
  .navbar-title {
    font-size: 34px;
  }
}

@media screen and (min-width: 992px) {
  .menu {
    display: none;
  }
}
