header {
  background-color: #e4effa;
}
nav {
  background-color: transparent;
  box-shadow: none;
}

nav ul a {
  color: #32325d !important;
}

.scroll {
	position: fixed;
  bottom: 35px;
	right: 35px;
	color: #6772e5;
	height: 30px;
	width: 30px;
	z-index: 1 !important;
}

@media screen and (max-width: 600px) {
  .scroll {
    display: none;
  }
}

.scroll:hover {
  color: #32325d;
}

.brand-logo {
	height: 44px;
  width: auto;
  border-radius: 50%;
  margin-top: 10px;
}

.navbar-item {
  font-weight: 500;
}
