<a class="waves-effect waves-light btn menu" (click)="sidenav.toggle()">&#9776;</a>

<header #top>
  <nav class="container">
    <div class="nav-wrapper">
      <img src="assets/images/brand-logo.png" alt="ISFront" class="brand-logo">
      <ul class="right hide-on-med-and-down">
        <li class="navbar-item">
          <a routerLink="/landing">Inicio</a>
        </li>
        <li class="navbar-item">
          <a routerLink="/console/transfer">Quiero Transferir</a>
        </li>
        <li class="navbar-item">
          <a routerLink="/console/withdraw">Quiero Retirar</a>
        </li>
        <li class="navbar-item" *ngIf="!currentUser">
          <a routerLink="/console">Iniciar Sesión</a>
        </li>
        <li class="navbar-item" *ngIf="currentUser">
          <a routerLink="/console">Cuenta</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<div (click)="scrollToElement(top)">
  <fa-icon [icon]="['fas', 'arrow-circle-up']" size="2x" class="scroll"></fa-icon>
</div>
