<header #top>
  <nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" routerLink="/landing">
        <img src="assets/images/brand-logo.png" alt="ISFront" class="brand-logo">
        <span>Intercambios Sin Fronteras</span>
      </a>
      <a role="button" (click)="toggleMenu()" [ngClass]="{'is-active': isActive}" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu" [ngClass]="{'is-active': isActive}">
      <div class="navbar-end">
        <a class="navbar-item" routerLink="/landing">Inicio</a>
        <a class="navbar-item" routerLink="/console">Quiero transferir</a>
        <a class="navbar-item" routerLink="/console">Quiero retirar</a>
        <a class="navbar-item" *ngIf="!currentUser" routerLink="/landing/login">Iniciar sesión</a>
        <a class="navbar-item" *ngIf="currentUser" routerLink="/console">Cuenta</a>
        <a class="navbar-item" *ngIf="currentUser" (click)="logout()">Cerrar Sesión</a>
      </div>
    </div>
  </nav>
</header>

<div (click)="scrollToElement(top)">
  <fa-icon [icon]="['fas', 'arrow-circle-up']" size="2x" class="scroll"></fa-icon>
</div>
