<header #top>
	<nav class="container">
		<div class="nav-wrapper">
      <a href="#" data-target="mobile-demo" class="sidenav-trigger">
        <i class="material-icons">menu</i>
      </a>
      <img src="assets/images/brand-logo.png" alt="ISFront" class="brand-logo">
			<ul class="right hide-on-med-and-down">
				<li class="navbar-item">
					<a routerLink="/landing">Inicio</a>
				</li>
				<li class="navbar-item">
					<a>Quiero Transferir</a>
				</li>
				<li class="navbar-item">
					<a>Quiero Retirar</a>
				</li>
				<li class="navbar-item">
					<a routerLink="/console">Iniciar Sesión</a>
				</li>
			</ul>
		</div>
	</nav>

  <ul class="sidenav" id="mobile-demo" #sidenav>
    <li>
      <a class="sidenav-close closebtn">&times;</a>
    </li>
    <li>
      <a routerLink="/landing">Inicio</a>
    </li>
    <li>
      <a>Quiero Transferir</a>
    </li>
    <li>
      <a>Quiero Retirar</a>
    </li>
    <li>
      <a routerLink="/console" class="sidenav-close">Iniciar Sesión</a>
    </li>
  </ul>
</header>

<div class="scroll" (click)="scrollToElement(top)">
	<i class="material-icons">keyboard_arrow_up</i>
</div>

<app-jumbo></app-jumbo>
<app-experience></app-experience>
<app-transfer></app-transfer>
<app-withdraw></app-withdraw>
<app-testimony></app-testimony>
<app-footer></app-footer>
