/* Breakpoints */
  $bp-sm: 600px;
  $bp-md: 768px;
  $bp-lg: 992px;
  $bp-xlg: 1200px;

html,
body,
div {
	border: 0;
	margin: 0;
	padding: 0;
}

html,
body {
	height: auto;
	width: 100%;
}

body {
  color: #32325d;
  font-size: 100%;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

section {
	width: 100%;
  height: auto;
  padding: 3rem 1.5rem;
}

.carousel {
  min-height: 90vmin;
}

#user,
#transfer,
#withdraw,
#historical {
  min-height: 90vh;
}

@media screen and (min-width: $bp-sm) {
  section {
    height: auto;
  }
  .carousel {
    min-height: 80vmin;
  }
}

/*
Ocultar flechas de input number
 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
