<footer class="page-footer">
	<div class="container">
		<div class="footer-present row center-align">
			<div class="col l5 m6 s12">
				<h5 class="footer-title">Intercambios Sin Fronteras</h5>
				<p class="footer-text">Nuestro Staff está disponible desde las 10:00 am hasta las 02:30 am para ayudarte 18 horas al día, los 7 días de la semana. ¡Pruébanos!</p>
				<a class="footer-link" href="#!">Términos y condiciones</a>
			</div>
			<div class="col l3 offset-l1 m3 s6">
				<ul class="collection">
					<li class="collection-item">
						<a class="footer-link" href="#!">Quiero Transferir</a>
					</li>
					<li class="collection-item">
						<a class="footer-link" href="#!">Quiero Retirar</a>
					</li>
				</ul>
			</div>
			<div class="col l3 m3 s6">
				<ul class="collection">
					<li class="collection-item">
						<a class="footer-link" routerLink="/login">Iniciar Sesión</a>
					</li>
					<li class="collection-item">
						<a class="footer-link" routerLink="/signup">Registrase</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container center-align">
		© 2018 ISFront.net, All right reserved. Made with <span class="red-text text-darken-4">&#x2764;</span> for
		<a class="footer-link bold" href="https://suga0828.github.io" target="_blank">suga0828</a>
		</div>
	</div>
</footer>
